[2014-12-19 02:21] gvwilson opened #1 "Move data files into data directory"
The inflammation data files (and others) should be put in the `data` sub-directory, and paths in the lesson files updated accordingly.

[2014-12-19 12:43] mlammens opened #2 "Missing *.svg image files for rendering in html files"
Many (perhaps all) of the *.svg image files used in the novice R lessons appear to have come from the novice python lessons. These images are not in the "r-novice-inflammation" repo, and so they do not appear in the html files. The easiest fix would be to copy those images into the "figure" subdirectory (from either "bc" or "python-novice-inflammation". Is this approach best, given it will lead to

[2014-12-23 14:32] #1 closed, assigned to dhaine

[2014-12-23 14:32] #2 closed, assigned to nobody

[2015-01-13 23:29] jdblischak opened #10 "Update README"
Need to add brief description of lesson (see [Lesson Layout][layout]).

[layout]: https://github.com/swcarpentry/lesson-template/blob/gh-pages/LAYOUT.md#lesson-layout

[2015-01-13 23:43] jdblischak opened #11 "Change figures/ to fig/"
The subdirectory with images is currently `figures/`. This needs to be changed to `fig/`. Also the knitr chunk options at the beginning of each file needs to be updated to reflect this, e.g. `opts_chunk$set(fig.path = "figure/02-func-R-")` would be changed to `opts_chunk$set(fig.path = "fig/02-func-R-")`. See [Lesson Layout][layout] for more information.

[layout]: https://github.com/swcarpentry/l

[2015-01-14 03:50] jdblischak opened #12 "Add prerequisites to index.md"
See instructions for the [home page][home].

[home]: https://github.com/swcarpentry/lesson-template/blob/gh-pages/LAYOUT.md#home-page

[2015-01-14 03:56] jdblischak opened #13 "Update YAML header for topic pages"
Currently the YAML header in the topic pages is from the previous build system using jekyll. These need to be updated to the following [format][yaml]:

[code]

Each topic is decently long since these were designed before the implementation of the new lesson template, so the minutes should be set to something like 30 minutes (if you've taught these before, feel free to add more realistic numbers).

[2015-01-14 04:02] jdblischak opened #14 "Add motivational slides"
Need to add a 3 minute slideshow to motivate learning R. The instructions are [here][format] and a template is [here][template].

[format]: https://github.com/swcarpentry/lesson-template/blob/gh-pages/LAYOUT.md#motivational-slides
[template]: https://github.com/swcarpentry/lesson-template/blob/gh-pages/motivation.md

[2015-01-14 04:13] jdblischak opened #15 "Transfer glossary from gloss.md in bc repo to reference.md"
The definitions in [gloss.md][] in the bc repo that are referenced in this lesson need to be transferred to the reference file. This repo already contains a reference, named [06-R.md][ref]. Thus the following steps need to be taken:

*  Rename 06-R.md to reference.md
*  Copy the definitions in gloss.md that appear in the topic pages to reference.md
  *  I'd recommend running something like `grep g

[2015-01-14 04:20] jdblischak opened #16 "Add discussion.md"
See [here][] for directions. [notes.txt][] may contain some info to be included in this page. Once useful information has been extracted from notes.txt, it can be deleted.

[here]: https://github.com/swcarpentry/lesson-template/blob/gh-pages/LAYOUT.md#discussion-page
[notes.txt]: https://github.com/swcarpentry/r-novice-inflammation/blob/gh-pages/notes.txt

[2015-01-14 04:24] jdblischak opened #17 "Add instructors.md"
See [here][] for instructions. The previous notes on [teaching in general][gen] and for the [Python version][py] of these lessons would be a good place to start.

[here]: https://github.com/swcarpentry/lesson-template/blob/gh-pages/LAYOUT.md#instructors-guide
[gen]: https://github.com/swcarpentry/bc/blob/gh-pages/novice/teaching/01-general.md
[py]: https://github.com/swcarpentry/bc/blob/gh-pages/n

[2015-01-14 15:42] jdblischak opened #18 "Reformat learning objectives"
The beginning of each lesson has a list of learning objectives. This need to be reformatted to conform with the new lesson template, see [here][].

[here]: https://github.com/swcarpentry/lesson-template/blob/gh-pages/LAYOUT.md#topics

[2015-01-14 15:45] jdblischak opened #19 "Reformat challenges"
The challenges need to be reformatted to conform to the new lesson template, see [here][]. This could be tricky for those challenges that include R Markdown chunks. We'll probably just want to leave the chunks alone, but if someone thinks of a better idea that would be great.

[here]: https://github.com/swcarpentry/lesson-template/blob/gh-pages/LAYOUT.md#topics

[2015-01-14 15:49] jdblischak opened #20 "Reformat callout boxes"
The lessons currently have asides which start with **Tip:**. These need to be reformatted to conform with the new lesson template, see [here][].

To find all the occurrences of these asides, you can run `grep Tip: *Rmd`

[here]: https://github.com/swcarpentry/lesson-template/blob/gh-pages/LAYOUT.md#topics

[2015-01-20 02:35] #13 closed

[2015-01-20 19:41] #10 closed

[2015-01-20 19:46] #15 closed

[2015-01-23 16:27] jdblischak commented on #19
Fixed by #27.

[2015-01-23 16:27] #19 closed

[2015-01-23 17:50] jdblischak opened #31 "Remove label "getting-stared""
The correct label "getting-started" was added, but  the label "getting-stared" is still an option.

[2015-01-23 18:41] r-gaia-cs commented on #31
@jdblischak Sorry for the trouble. Fixed.

[2015-01-23 18:41] #31 closed

[2015-01-23 21:43] jdblischak commented on #17
This [PR][] updating the instructor's guide for python-novice-inflammation is highly relevant.

[PR]: https://github.com/swcarpentry/python-novice-inflammation/pull/21

[2015-01-27 17:32] ateucher commented on #20
I've opened a pull request (#32) for this, but have just done the first file. You can wait to merge until I add more commits...

[2015-01-27 18:15] jdblischak opened #33 "Name the challenges"
The challenges need names. Currently they are just "Challenge" or "Challenges".

https://github.com/swcarpentry/lesson-template/blob/gh-pages/LAYOUT.md#topics

[2015-01-27 19:15] ateucher opened #34 "Image naming"
In working on #20, I'm finding that some of the filenames for generated figures are different. For example, in the loops lesson the images created in the loop have a numeric suffix following a hyphen, while previously it seems that there was no hyphen before the numeric suffix.  As a result, there are some orphan images in the /fig folder, and some broken image links in the html and md files where

[2015-01-27 19:30] jdblischak commented on #34
As I mentioned in #20, the difference in numbering is due to a change in knitr. You are welcome to clean out the orphans in your current PR or wait and do it in a separate PR (or have someone else do it).

[2015-01-27 19:31] gvwilson commented on #34
Is there some way to force an image name in knitr?  (I've asked for this
in the IPython Notebook to avoid renaming when figures are moved around.)

[2015-01-27 19:42] ateucher commented on #34
Will do, thanks @jdblischak.

[2015-01-27 19:59] jdblischak commented on #34
@gvwilson, we force the name of a plot that is generated by a chunk of R code with the chunk option `fig.path`. When more than one plot is generated by a chunk of code, they get numbered. The issue we currently have is that knitr changed how it numbered these multiple figures. We just need to to update everything.

[2015-01-28 02:26] ateucher commented on #34
I've cleaned out the orphans in #32, so I think this is taken care of.

[2015-01-28 02:26] #34 closed

[2015-01-28 03:51] jameshiebert commented on #11
Shouldn't this be closed by https://github.com/swcarpentry/r-novice-inflammation/pull/23 ?

[2015-01-28 04:13] ateucher commented on #20
Closed by #32.

[2015-01-28 04:13] #20 closed

[2015-01-28 04:51] jdblischak commented on #11
I also wanted to have a default option. Thus if someone created a new file and didn't specifically label the output figures, they would still be sent to fig/.

[2015-01-28 14:48] jdblischak commented on #11
OK, I made the change to tools/chunk-options.R in lesson template ([PR][]), so this will be fixed once we merge the core branch of lesson-template into this repo. Thanks for the reminder, @jameshiebert.

[PR]: https://github.com/swcarpentry/lesson-template/pull/147

[2015-01-28 14:48] #11 closed

[2015-01-30 03:52] #18 closed

[2015-02-01 02:54] gvwilson commented on #12
Feel free to reassign.

[2015-02-01 02:54] gvwilson commented on #14
Feel free to reassign.

[2015-02-01 02:54] gvwilson commented on #16
Feel free to reassign.

[2015-03-05 14:58] jdblischak commented on #33
Fixed by PR #53.

[2015-03-05 14:58] #33 closed

[2015-03-08 16:06] chendaniely opened #58 "Some parts needed to as.numeric before running function"
@mlammens taught at NYAS this week, and some parts needed an `as.numeric` cast.

This is a place holder to see what was different from the lesson in the repo and the lesson taught.

[2015-03-09 15:15] mlammens commented on #58
@chendaniely This problem occurred while going through the "Creating Functions" lesson. I deviated from the lesson by trying to apply the `center` function on a row of the `dat` data.frame as opposed to a column. This apparently violates recent conventions set for dealing with rows in data.frames. Though using `apply` with data.frames, where `MARGINS = 1` does not seem to have the same problems.

[2015-03-09 15:27] jdblischak commented on #58
Yes, this is an unfortunate aspect of the current lesson. The operations need to be done on columns, unless applying to all the rows with `apply`. One option to fix this would be to convert the data to a `matrix`, but that proposal was voted down in favor of keeping the data in the familiar `data.frame` object that novices are likely to encounter (see [PR][]).

We've already had a similar [discuss

[2015-03-09 15:47] mlammens commented on #58
@jdblischak We don't have a discussion page setup in the repo yet, do we? Either way, I can submit a PR in the next day or two discussing this issue.

[2015-03-09 15:58] jdblischak commented on #58
Thanks for volunteering, @mlammens. You are correct that we do not currently have a discussion.md, it is issue #16. Please feel free to add information on this topic as well as anything else that is relevant to teaching this lesson in a workshop.

[2015-03-10 15:10] jdblischak opened #59 "Filename changes and addition to index for supplemental lessons"
@tomwright01, after merging I realized there were two additional things I need you to do for your two new supplemental lessons.

*  Update the names of the files to the convention used in this repo: all lowercase, separated with a dash.
*  Include a mention of these lessons in index.md. I'd recommend having a new header below "More Resources" that says "Supplemental Lessons".

[2015-03-12 03:30] #59 closed

[2015-03-25 14:36] jdblischak commented on #58
Addressed by PR #61.

[2015-03-25 14:36] #58 closed

[2015-04-20 15:54] jdblischak commented on #17
See PR #64 for development.

[2015-04-23 14:55] jdblischak commented on #17
Fixed by #64.

[2015-04-23 14:55] #17 closed

[2015-04-23 15:01] jdblischak opened #73 "Use different variable name for slicing challenge"
In the first lesson, there is an [exercise on slicing][slice]. It is currently a bit confusing because the name of the vector to be sliced is `element`. This is awkward when explaining how to select specific elements of a vector. This should be updated to have a different variable name (and optionally the word in the character vector could also be changed to be consistent with the new variable nam

[2015-04-30 00:36] HKYang opened #77 "suppy "ignore.case=TRUE" in callings of "sub" function"
I suggest to suppy "ignore.case=TRUE" in callings of "sub" function in the section entitled "Making choice" within R course material.

The R function "sub" is used there to substitute the filename ending "csv" with "pdf". In Windows platforms, since file names are case insensitive, users are free to use capital letters. Unfortunately, pattern strings in "sub" function are case sensitive by default

[2015-04-30 14:01] aurielfournier opened #78 "the use of spaces in subsetting"
I proposed some changes to the subsetting lesson and included spaces that are not part of the Google R Style Guide, and so it was requested I remove them, which I did. After some discussion with Karl Broman I wanted to suggest that for the purposes of teaching we should not follow the style guide in this respect.

When I teach my peers subsetting in R I always tell them to put in spaces when they

[2015-04-30 15:15] jdblischak commented on #14
Fixed by PR #75.

[2015-04-30 15:15] #14 closed

[2015-04-30 15:36] jdblischak commented on #78
The lessons follow a style guide for the sake of consistency, not because one way is necessarily better than another way. When teaching the material live, you can use whatever style you like as long as you use it consistently. But when collaboratively developing a lesson, we need some guide otherwise the style would randomly change as each new edit was made by a different person.

Your PR #69 has

[2015-04-30 16:11] jdblischak commented on #77
Thanks for the suggestion, @HKYang.

Have you run into issues with this in a workshop?

In this specific instance, I don't think adding this argument is necessary. All the files use all lower case letters, and the students do not create the names themselves. They download the data as is, so I would be surprised if this were to cause an issue in a workshop.

In a bigger picture though, do we want t

[2015-04-30 16:43] HKYang commented on #77
Hi, John:
I agree with you that in workshops very unlikely this issue will be popped
up.
However, this is more about fault-tolerance in good programming practices
that we are supposed to teach in addition to programming skills.
Thanks for your attention.
-kai

On Thu, Apr 30, 2015 at 9:11 AM, John Blischak <notifications@github.com>
wrote:

[2015-05-04 02:17] jdblischak commented on #73
Fixed by #79.

[2015-05-04 02:17] #73 closed

[2015-05-04 15:10] jdblischak opened #83 "Pass tests from check.py"
Running `make check` runs [tools/check.py](https://github.com/swcarpentry/r-novice-inflammation/blob/gh-pages/tools/check.py). This highlights formatting issues that need to be resolved for complying with the lesson template.

You can run `make check` yourself. Alternatively, it is run daily on a remote server and the results are stored [here](http://scf.rgaiacs.com/nightly/r-novice-inflammation.s

[2015-05-14 15:18] jdblischak commented on #12
Fixed by #88.

[2015-05-14 15:18] #12 closed

[2015-05-14 15:40] jdblischak commented on #16
It's not that substantial, but we do have one now.

[2015-05-14 15:40] #16 closed

[2015-05-14 17:06] jdblischak opened #107 "Do something with refs/objects.Rmd"
This was created back before the new lesson-template. If we want to keep it, we should:

*  Rename it as a supplemental lesson and move it to the base directory.
*  Format it according to the new lesson-template.
*  Add it to index.md

[2015-05-14 17:16] dhaine commented on #107
It is already covered by 01-supp-data-structures. I'm sending a separate PR for removing it (and its directory).

[2015-05-14 19:27] #107 closed

[2015-05-14 19:56] jdblischak commented on #107
I can't find the PR for this.

[2015-05-14 20:04] dhaine commented on #107
Think I forgot to do the PR

[2015-05-15 17:08] jdblischak commented on #83
Fixed big issues like missing files. Mainly subheading problems remain.

[2015-05-15 17:08] #83 closed

[2015-06-12 15:09] gvwilson opened #127 "What changes should we make for our 5.4 release?"
Please use this issue for discussion of changes we should make by mid-August 2015.

[2015-06-18 14:35] erex opened #129 "Indosyncracy of mean() on inflammation-01"
This works as expected
[code]
but this fails
[code]
returns an error.  That is because there is no header in this file and arbitrary field names are give.

Might be worthwhile to note that it makes no medical sense to calculate the mean of 24 measurements.

[2015-06-19 09:47] erex opened #130 "05 cmdline"
For people using Windows, there is no mention of "R" being in the path before making calls to Rscript.  If Rscript is called from the command line without R in the path, lesson 5 will only state that the command "Rscript" cannot be found,

Is there somewhere in the setup instructions that flags up the alteration of the PATH statement to include "R" before this lesson is undertaken?

[2015-06-19 14:01] jdblischak commented on #129
Thanks for reviewing our lesson, @erex.

The issue you have found is an unfortunate artifact of how this lesson was developed. It is a translation of [novice-python-inflammation](https://github.com/swcarpentry/python-novice-inflammation).

When you slice a single column of a data frame, it returns a vector. When you slice a single row, it returns a data frame. The function `mean` does not work on

[2015-06-19 14:13] jdblischak commented on #130
For our workshops, we give our learners the following [setup instructions](https://swcarpentry.github.io/workshop-template/index.html#setup) ([source](https://github.com/swcarpentry/workshop-template/blob/gh-pages/index.html#L283)). After installing R and Git Bash, they are instructed to run the  [Software Carpentry Windows installer](https://github.com/swcarpentry/windows-installer). This add R a

[2015-06-19 14:52] erex commented on #130
Thanks for the pointers to the Installer; my error that because we weren't doing anything with Python nor with Sql, I skipped over the "Adds R's bin directory to the path (if we can find it)" step.

[2015-06-22 04:29] AnthonyDShaw commented on #127
Would it be possible to make the example data look more like real data without disrupting the lesson material? e.g., sampled from normal distribution with rnorm() command? Would show how tools applicable to users own research more effectively.

[2015-06-22 04:31] TomKellyGenetics commented on #127
Would it be possible to make the example data look more like real data without disrupting the lesson material? e.g., sampled from normal distribution with rnorm() command? Would show how tools applicable to users own research more effectively.

[2015-06-24 13:57] jdblischak commented on #127
Thanks for the suggestion, @TomKellyGenetics. Could you please expand on your idea? Here are my initial thoughts.

We could generate the data in a different way, but currently we don't cover how the data was generated during the lesson (the data was originally created using this [Python script][py], which we didn't end up transferring to this repo). The narrative of the lesson is that we want to a

[2015-06-24 13:59] jdblischak commented on #130
@erex, are you interested in sending a PR that creates a "Getting Ready" box?

[2015-06-24 14:00] jdblischak commented on #129
@erex, are you interested in creating a callout box that warns learners about taking the mean of a row of a data frame?

[2015-06-24 15:03] erex commented on #129
@jdblischak thanks for the invitation; I've got a fair bit on my plate for the next few days.  I'll try to do as you ask next week.  If I've not sent a pull request to you by the end of next week, I've gotten overtaken by events.

[2015-06-29 03:38] TomKellyGenetics commented on #127
Hi John (@jdblischak),

I think you've misunderstood. I'm proposing working with a different dataset: without significantly changing the lesson materials or covering how it was generated. Although what I've suggested (in R) is very similar to the current python script. Perhaps mean, standard deviation, or quartiles (boxplots) would be more similar to to real biological analysis. Would it be possib

[2015-07-03 13:44] dhaine commented on #129
Maybe with a mention about rowMeans()?

[2015-07-07 22:26] arthur-e opened #136 "Functional programming example in "Creating functions"?"
In version 5.3 of "Creating functions," there is a great example of function composition for converting temperature from Fahrenheit to Celsius.

[code]

However, it seems much easier and perhaps more common to use a functional approach and chain the two functions together, at least for the simple purpose described:

[code]

Is there merit to showing both approaches?

[2015-07-13 13:19] orchid00 opened #139 "Reference"
Glossary

shape (of an array)
    An array’s dimensions, represented as a vector. For example, a 5×3 array’s shape is (5,3).
----------------------------------------------
in R should be dim() not shape

[2015-07-14 18:32] jdblischak commented on #136
Thanks for the suggestion, @arthur-e. I believe a more verbose option of writing the function was chosen to make it easier for the learners to understand how the two functions were being combined to create a new one, especially for the section on the [the call stack](http://swcarpentry.github.io/r-novice-inflammation/02-func-R.html#the-call-stack). However it is useful to know that functions can b

[2015-07-14 19:10] jdblischak commented on #139
Thanks for the suggestion, @orchid00.

The definition is of the word "shape" as it is used in the section [Manipulating data](https://github.com/swcarpentry/r-novice-inflammation/blob/695afc1b0383d947145f71ca1979886df3c7d1a4/01-starting-with-data.md#manipulating-data). Most of the definitions in the reference are not names of functions.

But I agree that I see R programmers refer to the "dimension

[2015-10-06 11:49] mxtthias opened #146 "Misleading wording in 02-func-R"
The first Tip in the file starts with this sentence:

"One feature unique to R is that the return statement is not required."

This feature is far from unique to R. So called "implicit returns" are found in a variety of languages, Erlang, Ruby, and Rust are just three examples.

I would prefer something like "In R, it is not necessary to include the return statement."

[2015-10-06 12:39] jdblischak commented on #146
Thanks for the suggestion, @mxtthias. Would you be able to submit a Pull Request with your suggested change made to the file 02-func-R.Rmd?

[2015-10-06 17:39] mxtthias commented on #146
@jdblischak: Created https://github.com/swcarpentry/r-novice-inflammation/pull/147

[2015-10-12 02:54] jdblischak commented on #146
Fixed by #147.

[2015-10-12 02:54] #146 closed

[2015-11-19 02:30] jdblischak commented on #139
Fixed by #151.

[2015-11-19 02:30] #139 closed

[2015-11-19 02:32] #130 closed

[2015-11-19 02:34] #78 closed

[2015-11-19 02:34] #77 closed

[2015-11-19 02:34] #127 closed

[2016-01-07 18:05] kallisons opened #162 "car-speeds.csv?"
I was going through the 01-supp-read-write-csv.html lesson, but I could not find a link to download the car-speeds.csv.  Also, the file was not in the data folder in r-novice-inflammation-data.zip.

Could a copy of car-speeds.csv be put in the data folder in r-novice-inflammation-data.zip?

Thanks!

[2016-01-09 17:25] arokem opened #163 "Column headers"
Since we're using data frames, would it make sense to add column headers to the data?

[2016-02-07 03:38] arohl opened #169 "Not best practice in the final inflammation example"
In lesson 4, when the students get their R program to the point where they have a single command to generate all the plots, there is a bit of a problem. If they run the script a second time, they open the newly created pdf documents as well as the csv files and the csv reader gets a little upset being given a pdf file ;-)

In the example before this, where they run a command to generate the plot,

[2016-02-12 09:52] lmweber commented on #129
Hi all, we had the same issue in a recent workshop. I have submitted a pull request with a Tip explaining the issue and suggesting use of as.numeric() to solve it: https://github.com/swcarpentry/r-novice-inflammation/pull/177

[2016-02-18 16:52] fmichonneau opened #180 "Use Pull Request template to ensure that only Rmd file gets submitted"
I'm wondering if we could use the new PR templating system that GItHub now provides (https://github.com/blog/2111-issue-and-pull-request-templates) to indicate that only Rmd files should be (normally) submitted when editing one of the lessons.

[2016-02-19 20:10] naupaka commented on #180
+1 for this idea.

[2016-02-20 00:26] gvwilson commented on #180
I like it too - I'll bring it to the lesson maintainers and see if they
approve.  An actual template would speed that process along (hint, hint).

[2016-02-25 14:53] pschloss opened #183 "Typo in Lesson 1 setwd function call"
The lesson currently has:

    setwd("~/Desktop/r-novice-inflammation/)

It should be...

    setwd("~/Desktop/r-novice-inflammation/")

[2016-06-06 23:00] chendaniely commented on #129
as @jdblischak mentioned, this is a result of translating from the Python lesson.

The R lesson was originally written using a matrix.  This allowed `mean()` to work in both directions.
There's was a discussion about using `Data.Frame` instead because that is `R`'s strong suit, and the reason why people use `R`.  When we switched the lesson to use `Data.Frame`, `mean` no longer worked row-wise.

W

[2016-06-06 23:04] chendaniely commented on #163
Not sure. This lesson did start off as a direct translation of the Python lesson.

We already discuss how each row is a patient, and each column is a time point.
Is adding columns to improve the quality of the data?
The columns would almost be the same as the default `R` column names of `V1...V40`

[2016-06-13 16:58] pschloss commented on #183
@chendaniely I *think* I filed a PR for this back in February, can I get it merged?

[2016-06-13 17:01] mfoos commented on #136
I'm working on this!

[2016-06-13 17:02] marcsze commented on #162
Umich will be working on this

[2016-06-13 17:12] pschloss commented on #162
Hey @chendaniely we think we've addressed this issue, can you take a look?

[2016-06-13 17:31] gallington commented on #129
I'm working on a new PR to try to address this.

[2016-06-13 18:03] mfoos commented on #136
#192

[2016-06-14 15:39] chendaniely opened #194 "add call stack supplement to index"
#158 #193 took the call stack lesson into a new supplemental lesson.

Need to add this new lesson to the main index page

[2016-06-14 17:30] chendaniely commented on #183
@pschloss merging!

[2016-06-15 02:29] hdashnow commented on #183
Thanks! Fixed by merging #184

[2016-06-15 02:29] #183 closed

[2016-06-15 06:14] chendaniely commented on #129
I'm closing this PR since #198 was merged (the point was made into a callout box in #177 )

[2016-06-15 06:14] #129 closed

[2016-06-15 06:19] chendaniely commented on #136
closing this PR because of #192 and #196

[2016-06-15 06:19] #136 closed

[2016-06-15 07:00] hdashnow commented on #163
It does seem a tad pointless with such a simple data set, but I do like this idea to promote good data management in R. So if we were to do this, perhaps discuss why in the lesson.

[2016-06-15 18:19] chendaniely commented on #162
fixed with #191

[2016-06-15 18:19] #162 closed

[2016-06-18 06:25] #180 closed

[2016-06-29 01:30] hdashnow opened #208 "Inconsistent challenge naming"
Some challenge titles are pre-pended with "Challenge - ". This is applied inconsistently, and seems to be absent from other lessons in other languages.

e.g. in `01-starting-with-data.Rmd`
```> ## Loading data with headers {.challenge}```
vs
```> ## Challenge - Assigning values to variables {.challenge}```

I suggest removing all "Challenge - ". Any objections?
ping @chendaniely

[2016-07-01 01:46] hdashnow commented on #169
Is this fully resolved by #189 and #212? Shall I close this issue?

[2016-07-01 02:03] hdashnow commented on #194
Are you okay to do this @chendaniely, or would you like me to?
I notice `03-supp-loops-in-depth` is also missing from the index.

[2016-07-04 01:54] hdashnow opened #213 "Add Challenge format info to PULL_REQUEST_TEMPLATE"
Add some text to PULL_REQUEST_TEMPLATE to deal with common mistakes when submitting challenges, especially:
- Challenge title
- Answer format

Maybe just give a challenge template? Here's a "correct" example to help formulate this template.

[code]

Not sure if I should hold off on this until the new lesson template is done?

[2016-07-06 14:19] gvwilson opened #216 "Move solutions out of instructors.Rmd and delete that file"
Transitioning to new template: solutions to exercises are in `instructors.Rmd` in the root directory. They should be moved to `_episodes_rmd/*.Rmd` (so that they'll be processed correctly), and any remaining content in `instructors.Rmd` should be moved to `_extras/guide.md`.

[2016-07-06 14:20] gvwilson opened #217 "Use two-digit identifier for generated figures"
@fmichonneau writes:

[code]
1. Make this change to all `.Rmd` files.
2. Clean out all old figures.

See also https://github.com/swcarpentry/r-novice-gapminder/issues/166

[2016-07-06 14:37] gvwilson opened #218 "Fix times for lesson episodes"
The teaching and exercise times for the episodes need to be fixed.

[2016-07-06 14:38] gvwilson opened #219 "Write motivating questions for episodes"
The motivating questions for the lesson episodes need to be written.

[2016-07-06 14:38] gvwilson opened #220 "Make it clear which episodes are optional"
The optional lesson episodes need to be clearly marked as such. (They have to be in the `_episodes_rmd` directory in order to trigger conversion to Markdown.) This may require modifying the template to add a style...

[2016-07-06 23:01] hdashnow commented on #219
@gvwilson, shall I PR these on https://github.com/gvwilson/r-novice-inflammation, so we can see the result live?

[2016-07-07 00:08] gvwilson commented on #219
Yes please (the gh-pages branch), and thank you very much.

[2016-07-07 06:26] hdashnow opened #221 "Make sure all lessons have objectives and keypoints"
Many lessons are missing keypoints in the yaml header of the Rmd files. One is also rather thin on objectives.

Objectives will be shown at the start of a lesson, to let participants know what to expect. Key points will appear at the end of the lesson, as a checkpoint so participants can check their understanding.

**The following lessons are missing Key points:**
(note these lesson numbers are mi

[2016-07-07 06:38] hdashnow commented on #220
Also, where these optional lessons fit into the flow of the workshop, i.e. this lesson is supplementary to lesson x. Although RStudio probably goes right at the start if included!

[2016-07-07 11:55] arohl commented on #169
Yes, please close

[2016-07-07 12:23] hdashnow commented on #169
Ta

[2016-07-07 12:23] #169 closed

[2016-07-07 18:37] gvwilson opened #222 "Check/remove unexpected images"
`make lesson-check` reports:

Unexpected image files: 01-supp-factors-adjusting-levels-1.png, 01-supp-factors-dropping-levels-1.png, 01-supp-factors-gender-counts-1.png, 01-supp-factors-reordering-factors-1.png, 01-supp-factors-updating-factors-1.png, 02-func-R-rescale-test-1.png, 02-func-R-rescale-test-2.png, 03-loops-R-loop-analyze-5.png, 03-loops-R-loop-analyze-6.png, 03-loops-R-loop-analyze-7.

[2016-07-09 11:13] gvwilson opened #224 "Fix errors in new-format episodes"
Several of the episodes in #223 have errors due to @gvwilson's lack of R skillz. Look for `.error` in `_episodes/*.md` to find them, then trace back to the `_episodes_rmd/*.Rmd` file to fix.

[2016-07-09 11:14] gvwilson commented on #221
Please review the keypoints added in 85fcbbd4152c6.

[2016-07-09 11:14] gvwilson commented on #219
Please review additional questions in 85fcbbd4152c6.

[2016-07-09 11:15] gvwilson commented on #216
Done in e7f332475a6 (but see #224).

[2016-07-09 11:15] #216 closed

[2016-07-09 11:15] gvwilson commented on #213
Should we add something globally as part of the new styles?

[2016-07-09 11:16] #194 closed

[2016-07-10 04:15] hdashnow commented on #213
Will it be different for the R lessons c.f. the other languages? If you can make a universal format, then yes please! Presumably then all lessons could have a default PR template, then could add specific lines for their needs (e.g. editing Rmd vs md)

[2016-07-10 04:33] hdashnow commented on #219
I didn't notice any different questions, maybe not the right diff? Or do you mean the key points? A few minor comments, but otherwise looks excellent to me!

[2016-07-10 05:15] hdashnow commented on #224
@gvwilson the remaining errors (after @fmichonneau's fix) are all deliberate 😄

[2016-07-10 05:57] hdashnow commented on #213
Update, with the new lesson template, the challenges/solutions should now be formatted like this:

[code]

[2016-07-11 14:48] fmichonneau commented on #213
+1 for adding an example of the correctly formatted challenge/solution in the PR template. We can however show how to use it with knitr chunks instead of processed Markdown. It will probably be easier/more familiar to the contributors:

[code]

[2016-07-11 14:53] fmichonneau commented on #224
do we still need a PR that removes the PDF files from the data folder, or has it been taken care of?

[2016-07-11 15:41] gvwilson commented on #224
I believe it's been taken care of.

Thanks,

Greg

On 2016-07-11 10:53 AM, Francois Michonneau wrote:

--
Dr Greg Wilson
Director of Instructor Training
Software Carpentry Foundation

[2016-07-12 02:03] hdashnow commented on #213
@fmichonneau good idea. Also then the code will run, so output will be included. This is useful for when we're accepting new challenges/solutions and we can check that the answer actually works! (this is not a given as I have discovered). We can always edit it ourselves to turn off the eval=F if needed on a case by case basis.

[2016-07-15 15:41] chendaniely commented on #208
Yes, the word "Challenge" in the title should be removed.
Should I fix this before the lesson get's published?

[2016-07-15 16:14] gvwilson commented on #208
Yes please - I thought I'd caught them all.  Please make sure you're
working against the gh-pages branch of gvwilson's repo.

[2016-07-17 16:12] chendaniely commented on #208
@gvwilson I was looking at swcarpentry/r-novice-inflammation, Just went though the repo under your account.  This issue seems resolved.

[2016-07-17 19:24] chendaniely commented on #218
is there a place to get this data?  Or should I start a discussion to collect instruction times?

[2016-07-17 20:02] chendaniely commented on #222
on b4efb47e8a399b25b3d16fc1bab8930c9d048b7a i see:

[code]

[2016-07-17 20:09] gvwilson commented on #218
Fill in your guesses and then we'll ask people to correct it?

[2016-07-18 14:36] #224 closed

[2016-07-19 01:25] #208 closed

[2016-07-24 21:59] #221 closed

[2016-07-24 21:59] #219 closed

[2016-08-09 15:44] chendaniely commented on #218
Current lessons and timings (in minutes):

-  Analyzing Patient Data (30)
- Creating Functions (30)
- Analyzing multiple Data sets (30)
- Making choices (30 mins)
- Command line programs (30)
- best practices for writing R (30)
- Dynamic Reports with knitr (30)
- making packages in R (30)

Supplements:

- introduction to rstudio (15)
- addressing data (30)
- reading and writing csv files (30)
- un

[2016-08-10 04:34] hdashnow commented on #218
Thanks Daniel, did you want to PR those times? They go in the yaml header,
like this:

teaching: 30
exercises: 0

Warm regards,
Harriet

On Wed, Aug 10, 2016 at 1:44 AM, Daniel Chen <notifications@github.com>
wrote:

--
Harriet Dashnow
BSc, BA, MSc (Bioinformatics), PhD candidate
www.harrietdashnow.com/about

[2016-09-21 03:21] chendaniely opened #235 "Typo -- extra closing parenthesis"
#228 introduced an extra closing parenthesis.

[2016-09-21 03:28] chendaniely opened #236 "command line lesson (lesson 5) will differ depending on who is compiling the document"
If I `make lesson-rmd`  I will always get a change for the some of the chunks because it calls functions like `sessionInfo()`.  The difference is from my computer being a different OS than the current lesson (which seems was generated from OSX)

Is there a better way to handle this?

This might just be an issue us maintainers need to deal with...

[2016-09-21 03:45] chendaniely commented on #218
@hdashnow this should be fixed from #233, right?

[2016-09-21 05:40] hdashnow commented on #218
Yep!

[2016-09-21 05:40] #218 closed

[2016-10-06 03:34] weisi-chen opened #245 "Tiny mistake in the code"
http://swcarpentry.github.io/r-novice-inflammation/04-cond/
In the Making Choices module, the very last command before the last exercise:

analyze_all("inflammation*.csv")

Here, "inflammation_.csv" is inconsistent with previous commands. It should be changed to "inflammation._csv". I suppose it takes a regex, so the .\* replaces for any number of characters after inflammation.

[2016-10-06 05:20] jangari commented on #245
Markdown gobbled the asterisks. The point here is that `inflammation*.csv` is expanded to `inflammation` plus any number of `n`, plus any character, plus `csv`.

This line should read `analyze_all("inflammation.*csv")`.

Eg:

[code]

[2016-11-23 13:24] dmi3kno opened #249 "Sequence of teaching"
I have a suggestion to Schedule part of the title [page](http://swcarpentry.github.io/r-novice-inflammation/). In my view the flow would be better if "Data types and structures" were introduced earlier in the lesson, however I see the benefit of starting with some practical example. The first six sections of this lesson could look like the following:

1. Introduction to RStudio
2. Analyzing Patien

[2016-11-23 13:36] dmi3kno opened #250 "For loops and conditions vs. apply and logical subsetting"
I am of strong opinion that introducing `for loops` and `if else` statements early in the teaching program makes more harm to R education then good. I understand that this is done out of desire to maintain consistency between how Python and R are taught, but I would argue that the approach to teaching (and using) the two languages should be different.

I would argue that `for` loops and `if else`

[2016-11-25 16:40] RMHogervorst commented on #250
I agree.

[2016-11-25 17:05] RMHogervorst commented on #245
correct.
the period (.) means any character. the star after the period means repeat zero or more times.
So `.*`  means: [ any single character][matched zero or more times]

[2016-12-21 20:48] ytakemon opened #257 "02-func-R solution for outside() not displayed on lesson"
While following the [second lesson](http://swcarpentry.github.io/r-novice-inflammation/02-func-R/) under Create a Function, I noticed that there was no solution for creating a function called outside(). However on your [Rmd file](https://github.com/swcarpentry/r-novice-inflammation/blob/gh-pages/_episodes_rmd/02-func-R.Rmd) for this lesson there is a solution for creating outside(). Perhaps this i

[2017-01-06 16:14] pcarbo opened #258 "Improving Setup"
I've enjoyed working through the "Programming with R" lesson materials.

I'd like to suggest a couple improvements to the [Setup](https://swcarpentry.github.io/r-novice-inflammation/setup). For people that have little experience programming, I've found that they often have no idea what sort of software is required to get started, so a bit of hand-holding would go a long way here.

At the beginning

[2017-01-06 17:34] pcarbo commented on #258
I recognize that some setup instructions are provided in the [workshop template](https://swcarpentry.github.io/workshop-template), but seems appropriate to have more details here as well.

[2017-01-06 17:44] pcarbo commented on #258
Finally, has anyone previously suggested the use of [rollApp](https://www.rollapp.com/app/rstudio) as a fallback in case R or Rstudio cannot be installed on the attendee's laptop?

[2017-01-06 18:37] pcarbo opened #259 "Framing the lesson: "Interactive programming""
This lesson is framed as an "introduction to basic concepts in programming", but this isn't quite correct; I would instead say that this is an introduction to *interactive programming*, or more specifically, *programming in an interactive environment*. This contrasts with the non-interactive programming setting which typically involves (1) writing code, (2) compiling the code, (3) building and/or

[2017-01-06 19:04] naupaka commented on #258
Thanks for the suggestions! Good thoughts overall.

I would recommend against encouraging learners in workshops to use rollApp. I have used it for teaching in the past as a last-last resort fallback where the students couldn't install anything on the computers they were using and there wasn't time to get something up on EC2, for example.

One of the important things we like to have learners come a

[2017-01-06 19:06] naupaka commented on #259
Yes, fully agree. Precision is key and it's easier to have mentioned it correctly from the beginning so that if/when you do get to explaining it later students have been exposed to it. Why don't you submit a PR with your proposed wording changes and we can take it from there?

[2017-01-07 03:41] pcarbo commented on #259
Sounds good! I will work on this.

[2017-01-07 03:48] pcarbo commented on #258
All good points. I've been thinking about this as a self-contained lesson, but in this case perhaps a more detailed setup is better left to the workshop website. Feel free to close this issue if you'd like.

[2017-03-11 17:09] sluedtke opened #265 "unittests with the _testthat_ package"
Hi  there,

while scanning through the r-novice-inflammation material I was wondering if it was useful to add a part on __unittests__ using a dedicated package (e.g. 'testthat').

I think it might fit or link with two already existing topics, namely [Creating functions](http://swcarpentry.github.io/r-novice-inflammation/02-func-R/)  and [Making packages in R](http://swcarpentry.github.io/r-novice-

[2017-03-21 00:52] bbolker commented on #265
Definitely an advanced/supplementary topic IMO.  I don't know how people are using this material (maybe they're teaching to more advanced audiences and skipping the intro stuff), but given that according to the instructor notes it takes two half-day sessions to teach the material in episodes 1-5, it's hard to see anyone getting as far as unit tests ... in a vanilla/introductory Software Carpentry

[2017-03-25 21:26] sluedtke commented on #265
I am just starting with software carpentry so I do not have any experience but agree that it's quite a lot of stuff already. Because it is quite a lot, I think that not everything is thought in a single sequence but rather that certain episodes are picked with respect to the demands of the workshop.

Maybe more experienced instructors have an opinion about that.

Ignoring the quantity of the exist

[2017-03-27 19:43] chendaniely commented on #249
Hi @dmi3kno thanks for your feedback.

This is a larger discussion that we need. @hdashnow .

Just to play devil's advocate. This lesson focuses on the programming side of R.
So functions, conditionals, and scripts are at the forefront of the lesson.
The gapminder lesson and the data carpentry lessons are more geared towards analysis related tasks in R.

Regarding the overlap between sections 2, 3

[2017-03-27 19:52] chendaniely commented on #250
I agree that Python and R are different languages with different domains and should be treated accordingly.

My only concern is if we remove `for` loops until the very end of the lesson, then the entire lesson will need to be restructured.
The current lesson gets users to load data, create a plot, then automatically create multiple plots from multiple datasets.  This requires a `for` loop (unless

[2017-03-28 06:52] RMHogervorst commented on #250
I guess you could use a apply action in stead of a for loop, but that is just a for loop in hiding. Since that does not really make a difference but would introduce new functions . So that doesn't help in the software carpentry lessons.
I agree with the programming with r vs data analyses in r rationale.

[2017-03-28 07:05] dmi3kno commented on #250
My argument, then, is that there's no such thing as "beginner programmer in R". There's only "beginner analyst in R". It is very rare instance when for-loops need to be written and those shall be reserved to non-rectangular data types. For everything else R has an awesome functional programming toolbox with base::*apply and purrr::map_* families which (although rely on C++ for loops) emphasize the

[2017-03-28 07:10] dmi3kno commented on #249
My argument that sequence of teaching is crucial from pedagogic point of view. If you overwhelm people, they will walk away clueless and will not have the guts to try using R with their own data. We switched entirely to "tidyverse" (introducing ggplot as the first topic) and never looked back. Our workshops are oversubscribed and we have tons of positive feedback from people who go out of classroo

[2017-03-28 19:35] bbolker commented on #245
I think this has been resolved?

[2017-04-06 16:21] chendaniely commented on #265
thanks @sluedtke for raising the issue.

I usually show the `expect_*` class of functions relatively early.
People will usually `print` or `View` the loaded data to visually check values.
I typically have them write the `testthat` statement to check that the value is what they expect.

This helps them use the unittest functions without the overhead of running unittests.

You can always add it in a

[2017-04-06 18:29] sluedtke commented on #265
We are currently preparing an SC workshop and we realy want to add some parts from the `testthat` package.

We'll stick to the functions that are used as examples and challenges and adding tests about them.

So I think that quite follows the suggestions or workflow by @chendaniely, but formalising things most people do anyway to check their code (e.g. `print` ).

As soon as it is ready I'll drop a

[2017-04-06 19:48] chendaniely opened #272 "using `c()` when specifying a range of numbers"
continuing the conversation from #270

@bbolker @hdashnow @naupaka

![screenshot from 2017-04-06 15-47-46](https://cloud.githubusercontent.com/assets/5782147/24772728/7c015e36-1ae0-11e7-99e8-546b8389b447.png)

[2017-04-06 19:53] bbolker commented on #272
It's really just a (minor) question of which option minimizes cognitive load/maximizes clarity.

- `c(1:5)`: redundant code, but maybe helps people understand (but also learn what I would consider to be slightly suboptimal coding habits)
- `1:5`: the most idiomatic R, I think
- `seq(1,5)` perhaps safest

Adding an explanation is also adding cognitive load/something else to think about.

[2017-04-07 16:17] naupaka commented on #272
I agree that this is a minor point in the scheme of things, but: `seq(1,5)` seems most consistent to me in this particular case, especially given that it's used on line 432 already. There are lots of other places in the lessons where numeric vectors are created with `:`, so I'm not worried about folks picking up that syntax elsewhere. Plus, in general, I think it's good for people to use `seq()` m

[2017-04-19 16:13] lponisio opened #273 "removing "simple" from lessons"
In the instructor training, we discussed avoiding the word "simple" like "try this simple for loop" because it can be discouraging to learners. "Simple" appears twice in the R lessons in a discouraging way, once in lesson 3 "In this lesson we saw how to use a simple for loop to repeat an operation." and once in lesson 4 "This makes it simple to write a function". The first could be just be removed

[2017-04-19 19:45] ErinBecker opened #274 "Distribute challenges throughout episodes"
See swcarpentry/shell-novice#552

[2017-04-22 03:13] Geeketics opened #276 "Latest RStudio Update Uses readr As Default Point-And-Click Importer"
In the latest RStudio update the readr package has been linked to the "Import Dataset" button in RStudio, this used to be the utils package. This can cause problems downstream, particularly with subsetting.

I know SWC lessons are all about making people learn to code things, instead of point-and-click, but it seems important to add a note to all the R lessons that warns the learner that the point

[2017-04-25 15:26] chendaniely commented on #276
thanks for the heads up. do you know where we should add this comment?

I feel like it needs to be mentioned multiple times in the lesson:

1. while importing data
2. when we talk about `as.data.frame`

I don't know off the top of my head what the differences between the `tibble` object and the regular `data.frame` object is...

[2017-04-25 15:28] chendaniely commented on #272
@bbolker so i've been very consious of all the R code I see and write these days.
you're definitely right, i'll send a PR for the colon notation. and have a comment about using `seq` on the side.

I realized just now that I have a habit of using `c` because I usually just assume I'm not going to be doing a straight sequence of numbers... until I type it out.

[2017-04-25 20:46] ErinBecker commented on #274
Issue submitted to lesson-example swcarpentry/lesson-example#114

[2017-04-25 20:46] #274 closed

[2017-05-08 09:44] harmn opened #279 "days and patients swapped in solution for "Slicing and Re-Assignment""
Please delete the text below before submitting your contribution.

In lesson 1, in the solution for "Slicing and Re-Assignment" the days and patients are swapped
http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/

This should be the solution:
whichPatients <- seq(2,60,2)
whichDays <- c(1:5)
dat2 <- dat
dat2[whichPatients, whichDays] <- dat2[whichPatients, whichDays]/2
(dat2)

[2017-05-12 07:44] sluedtke opened #281 "data directory is empty after 'git clone'"
Hi there,

is it on purpose that the files in the data directory on not tracked by git? With a `git clone`, the directory is empty and one needs to fetch the files separately.

It is not the case for the python-novice-inflammation repo.

[2017-05-12 18:39] JCSzamosi commented on #281
It appears that the files that should be in data are now in files/r-inflammation-novice-data.zip. This seems bad?

[2017-05-17 21:43] Raphaelaggio commented on #163
I agree. It would be a good idea to have column names replaced perhaps by "T1, T2, T3, ...". I am happy to work on that and add a little discussion of why.

[2017-05-23 03:37] bbolker commented on #276
The main/most import difference I'm aware of is that tibbles do *not* drop dimensions by default as other R rectangular data structures do: in particular, `tbl[,"foo"]` is a tibble rather than a vector (one should use `tbl[["foo"]]` to get a vector). That being said, it's probably sufficient to tell beginning students "tibbles usually but **not always** act the same as data frames: if necessary, u

[2017-06-12 21:24] valentina-s opened #284 "Confusing lesson syllabus."
Looking at the syllabus, I find the list of topics very confusing: sessions 1-8 seem to be continuous. Topics 9-15 seem to start from the beginning with some extra stuff (like factors). Are those considered 'extra' materials. If so, maybe this should be clearly indicated in the title. Or I think it is even better to have a lesson called Supplementary, which links to these materials, so that instru

[2017-07-16 20:38] chendaniely opened #290 "Forcing Conversion discussion"
in #255 @plantarum removed (commented out) the section on `Forcing Conversion`.

Instead of discussing the use or `as.numeric` before performing `mean`.
Should we just use the `rowMeans` function?
This way we can show the behavior, without having to do the type conversion.

[2017-07-16 20:58] chendaniely commented on #163
this is partially addressed in #283 as well (please see that PR for comments).

Since our data have column names we can perhaps close this issue?

[2017-07-16 21:00] chendaniely commented on #258
thanks @pcarbo i'm going to close this issue since it seems resolved.  However, if there are more details for installation that is needed in the workshop template please let me know and create a new issue.

Also, if you think a link to the workshop template instructions are not easily findable please let me know too!

[2017-07-16 21:00] #258 closed

[2017-07-16 21:05] chendaniely commented on #284
The timings on the side refer to how long it would take to cover the entire set of lessons.
Since the workshops are typically 2 days, we devote 1 days worth to `R`.

The later lessons cover certain topics in a bit more detail, so if we do not get to them it's not too bad, but in an ideal situation it all gets covered.

We used to have a section of supplemental materials (and marked as such) but th

[2017-07-17 15:16] pcarbo commented on #258
@chendaniely Thank you for closing this. I haven't had a chance to return to this, and I agree it is probably best to close this issue.

[2017-08-16 05:09] adivea opened #292 "Typo: "data" directory should be "results" directory in Making Choices lesson instructions"
Please delete the text below before submitting your contribution.

---

Instructions to the following line of code in Making Choices lesson:

`file.path("results", sub("csv", "pdf", f))`
`[1] "results/inflammation-01.pdf"`

should be changed from:
To add the “data” directory to the filename use the function `file.path`,
to
To add the “results” directory to the filename use the function `file.path`

[2017-08-25 23:31] jasongbragg opened #294 "suggestion: ".mat" to "_mat""
I suggest that in lesson https://github.com/swcarpentry/r-novice-inflammation, episode 06-best-practices-R, the following:
"For example, name all matrices something ending in .mat"
be changed to:
"For example, name all matrices something ending in _mat"

This is only a tentative suggestion. The motivation is to avoid encouraging the practice of using dots in object names, except in classes. I am s

[2017-09-19 13:26] gosianow opened #295 "Subsetting data frames by names also possible for rows"
In Programming with R, Addressing Data, there are three ways of addressing data frames in R:
- By index (slicing),
- By logical vector,
- By name (columns only).

Using `$` works only for columns, but subsetting by names using `[]` is possible for both rows and columns, for example, `head(dat['2', c('Age', 'Gender')])`. So maybe the last point should be rephrased to something like this: "By name (

[2017-09-19 13:46] gosianow opened #296 "Change of class for data frame subsets by column"
In Programming with R, Addressing Data, there is a line of code that shows the class of `dat`:
`class(dat)`
which is a `"data.frame"`. Maybe just for completeness, it would be worth mentioning that when subsetting by column, the class of what we get changes. For example, for `dat$Gender`
`class(dat$Gender)` is `"character"`.

[2017-09-19 14:01] gosianow commented on #284
Hello, I had a similar impression as @valentina-s when I looked at the table of contents for the first time. It was a bit confusing for me to understand why some topics repeat and are shuffled like this. Maybe there is no need to rename or change the order of the topics, but such a comment as you @chendaniely gave above about the later lessons being more detailed would clarify it.

[2017-10-16 17:58] luiandresgonzalez opened #299 "Typo in chapter 06-best-practices-R: 'exits' instead of 'exists'"
There is this piece of text under the "Be careful when using `setwd()`" section:

I think it is meant to say "exists".

Thanks for the good work!

[2017-10-25 23:07] paddytobias opened #302 "introduce read.table( in lesson one (Analyzing Patient Data)"
First objective in lesson one (Analyzing Patient Data) is "Read tabular data from a file into a program" however the exercise only addresses tabular data in a CSV format using read.csv(. This has the potential to convey to learners that R can only deal with CSV tabular data.

Perhaps it would be good to introduce read.table( with sep = "," as an alternative and add a note on how other value separa

[2017-10-26 13:38] tylerkelly13 commented on #235
Addressed in PR #304

[2017-10-31 05:09] Jerry-Lai opened #305 "Analyzing Multiple Data Sets : Challenge"
**Challenge: Using Loops to Analyze Multiple Files**

**Current Version**
analyze_all <- function(pattern) {
  filenames <- list.files(path = "data", pattern = pattern, full.names = TRUE)
  for (f in filenames) {
    analyze(f)
  }
}

**Proposed Version: Two Input Parameters**
analyze_all <- function(**_folder_**, pattern) {
  filenames <- list.files(path = **_folder_** , pattern = pattern, full.n

[2017-10-31 05:37] Jerry-Lai commented on #302
Good Call!

There is a step towards your suggestion in the data carpentry materials, by introducing the difference between read.csv and read.csv2, but the inclusion of sep = "," would be better actually.

It might also be helpful to include a small section on reading foreign data into R (i.e., .Stata, SPSS and SAS) and write / export data.frame into a foreign format.

[2017-12-06 15:03] Arsh-07 commented on #302
Great comment.

The read.csv function can be misleading to complete novice learners that R can read only csv file. Perhaps, they should be introduced to the read.table first and use correct arguments and explain that R can import many types of file from different platform as well. Explaining the field separation character ("sep") and that the default one in read.table is a white space and if the u

[2017-12-07 05:46] katrinleinweber commented on #276
Wouldn't this instance even be a starting point to start converting the lesson to tibbles? Continuing to teach a non-default (compared to the most popular R-IDE) might cause more problems than it's worth.

[2017-12-09 21:42] ccronje opened #308 "Subsetting More Data (challenge in episode 1) - explanation incorrect"
In challenge _Subsetting More Data_ episode http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/, the answer is correct but the explanation contradicts what is taught earlier in episode:

Quote:

I think this should be:
Explanation: You want to extract the part of the dataframe representing data for patient 5 from days three to seven. In this dataframe, patient data is organis

[2017-12-22 15:20] katrinleinweber opened #309 "Teach roxygen2 skeleton instead of free-form comments"
Hello!

Since the function comments in [lesson 2](http://swcarpentry.github.io/r-novice-inflammation/02-func-R/) & [3](http://swcarpentry.github.io/r-novice-inflammation/03-loops-R/) cover two thirds of the [roxygen2 skeleton](https://cran.r-project.org/web/packages/roxygen2/vignettes/rd.html) `@param`, `@return` & `@examples`, I wonder whether it would be worthwhile to shift the teaching to that

[2017-12-24 14:41] katrinleinweber commented on #309
PPS: Reading "[Good enough practices in scientific computing > What we left out > Documentation](http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510#sec027)", I wand to add to the above:

OK, same thing whether they _don't_ fill out the roxygen2 skeleton, or whether they _don't_ write a few lines of unstructured comments.

And at that point, teaching that RStudio shortcut

[2017-12-30 19:51] butterflyskip commented on #217
Hi,
A couple of questions:

1) Should I include _episodes_rmd/.Rhistory to the PR? (included it for now)
2) What are considered "old figures" referred to above?  I have not done that part in this PR

[2017-12-30 21:23] ingridstarr opened #311 "Setting working directory in 01-starting-with-data with tab complete"
Hi there,

Getting everybody set up in the correct working directory at the start of this lesson seems to reliably take ~10 minutes (or more...). While the GUI Session -> Set Working Directory -> Choose Directory... method is in the teaching material, I think using tab complete (works in both R and RStudio) makes more sense, as it reinforces the use of tab complete seen in the Unix lesson and also

[2018-01-02 18:32] diyadas opened #312 "Suggestion: Introduce length alongside dim in section 1 (Starting with Data)"
I find it a bit odd that the `length` command is not introduced in this section, though `dim` is. As I was preparing for my teaching demo, I found myself accidentally referencing it, only to realize it hasn't been taught.

I think it's especially useful to use `length` to check the result of `apply`, which is also taught in this section. Even as an intermediate user, I found myself mixing up the m

[2018-01-03 19:45] diyadas opened #313 "incorrect working directory in supplementary lesson (reading and writing csv files)"
The opening to [this section](http://swcarpentry.github.io/r-novice-inflammation/11-supp-read-write-csv/) instructs us to change our working directory to `~/swc` and from there read `data/car-speeds.csv`. If we're following the [setup instructions](http://swcarpentry.github.io/r-novice-inflammation/setup/), the `data` folder containing `car-speeds.csv` is actually located in `~/Desktop/r-novice-in

[2018-01-10 08:29] katrinleinweber commented on #311
Hello :-) In case you mean tabbing to expand a `setwd(dir = "…")` command, I agree.

[2018-01-10 08:30] katrinleinweber opened #315 "enhance teaching R terminology by using variable.names() instead of names()"
Hello!

Did anyone experience confusion of learners about us teaching `names()` for the column headers, while mentioning [`rownames()`](https://github.com/swcarpentry/r-novice-inflammation/search?utf8=%E2%9C%93&q=rownames&type=)? If yes, how about replacing the former with either:

a) `colnames()` to increase consistency, or
b) `variable.names()` to ingrain R's terminology (in the base package `st

[2018-01-10 20:57] ingridstarr commented on #311
Yep that's exactly it :)

On 10 January 2018 at 19:29, Katrin Leinweber <notifications@github.com>
wrote:

[2018-01-11 19:16] lvclark commented on #309
I think it could be a little confusing to students.  They've been told that comments can be entirely free form, but then they are shown that function comments have to follow a certain format, two hours before they are shown the benefit of sticking to that format.

My personal feeling is that roxygen discourages thorough documentation by cluttering up the source code, so I just like to use `prompt`

[2018-01-12 09:53] katrinleinweber commented on #309
We can still tell them "that's fine _additionally_".

[Respectfully, I disagree here, because: `help(apply)` & `?apply` being introduced very early](https://github.com/swcarpentry/r-novice-inflammation/blob/gh-pages/_episodes_rmd/01-starting-with-data.Rmd#getting-help) could be used to display the benefit of using a defined comment format right there. Navigating the help pages is rather easy, beca

[2018-01-21 20:48] lvclark opened #317 "Nonsense sentence in 06 - Best Practices"
In Episode 06 - Best Practices, there is the sentence "For example, it's often helpful when writing code to separate the if you create only one or a few custom functions in your script, put them toward the top of your code."  Was something perhaps accidentally deleted here?

[2018-01-27 11:51] katrinleinweber commented on #299
Merged :-) Thanks for also alerting us to this!

[2018-01-27 11:51] #299 closed

[2018-01-27 13:01] katrinleinweber commented on #317
Yes, you're right. I stumbled over this as well and we fixed it in #314. Please keep an eye open for other such issues and don't hesitate to also start a PR right away, if it's a small improvement suggestion, and nobody PR'ed or issue'd about before. Cheers :-)

[2018-01-27 13:01] #317 closed

[2018-01-27 13:03] #235 closed

[2018-01-31 17:15] katrinleinweber commented on #313
Hello @diyadas! Yes, [that seems to be a left-over](https://github.com/swcarpentry/r-novice-inflammation/blame/gh-pages/_episodes_rmd/11-supp-read-write-csv.Rmd#L36), when [the initial `setwd` was updated](https://github.com/swcarpentry/r-novice-inflammation/blame/gh-pages/_episodes_rmd/01-starting-with-data.Rmd#L61). 🦅 👀 😄

Do you want to submit a PR updating `11-supp…` with the correct path?

[2018-01-31 17:18] katrinleinweber commented on #294
Hi @jasongbragg :-) Thanks for putting forth these arguments. I agree as well, so if you send a PR, I'll merge it. Please commit both the changes to the `.Rmd`, and the `.md` files ;-)

[2018-01-31 17:22] ErinBecker commented on #294
@katrinleinweber - I think only changes to the .Rmd files are needed. @naupaka - could you please confirm?

[2018-01-31 17:31] katrinleinweber commented on #281
Yes, it's on purpose, and because https://github.com/swcarpentry/r-novice-inflammation/commit/41a7763598956d7b03a3cbb659d37ea488576b3f seems very trustworthy, I for one have no plans of reverting it. Although coherency with the [python lesson](https://github.com/swcarpentry/python-novice-inflammation/tree/gh-pages/data) is a worthy goal as well, the lesson websites are built with language-specific

[2018-01-31 17:31] #281 closed

[2018-01-31 19:05] naupaka commented on #294
Yep, only the `Rmd` files should be changed. The `md` files are overwritten every time the site is rebuilt, so any changes there are overwritten/lost. We just had this discussion over on the gapminder R lessons and added in some code to the style repo (https://github.com/swcarpentry/styles/pull/200) that will build in a warning to the `md` files so people don't accidentally edit them and then have

[2018-02-01 08:40] katrinleinweber commented on #294
Ah, thanks! I edited both several times, but in the same way. Should `_episodes` be `.gitignore`'d then? I could add that to #318.

[2018-02-01 08:48] katrinleinweber commented on #236
This is bugging me as well now, also because the messages are in German. Makes no sense to commit _those_. I'm ignoring it manually for now.

However, in order to avoid this as an error source, _and_ keep the OS version numbers in the examples up-to-date, one of us should update it before a lesson release?

[2018-02-01 09:07] katrinleinweber commented on #279
Hi @harmn! This was fixed by [#287](https://github.com/swcarpentry/r-novice-inflammation/pull/287/files), but not auto-closed by a [commit keyword](https://help.github.com/articles/closing-issues-using-keywords/) ;-)

[2018-02-01 09:07] #279 closed

[2018-02-01 13:23] MariekeDirk opened #321 "Documentation of data?"
Hi there,

I was reading the R lessons 'Making Packages in R' section. I was wondering if it would be an option to add documentation of data to the extra material? My suggestion would be to document, for example, "car-speeds.csv".

Let me know if this would be an option. I'd be happy to help.
Kind regards,
Marieke

[2018-02-01 13:39] naupaka commented on #294
Yeah, it seems like that would be a good solution. Unfortunately, we can't do that, because the files have to get rendered locally by the maintainers from Rmd to md, and then pushed to GitHub where Jekyll takes the markdown and makes the html. Plus the `.gitignore` won't have any effect on already-tracked files, which all of these are. It's not the best system, because it's confusing for many cont

[2018-02-01 13:49] katrinleinweber commented on #302
Hello y'all :-) I'm open to PRs about this. However, counter-argument: teaching CSV specifically could support the understanding, that tidy data files of a defined format are sooo much easier to handle than messy tables.

[2018-02-01 13:53] katrinleinweber commented on #294
OK, but it is an actual problem if they do? As far as I understand the workflow currently, it just moves the `.md` changes from a maintainer's catch-all-"render site"-commit to the individual contributions.

So, if people accidentally contribute to a `.md` only, I would ask them to mirror the change to the `.Rmd`, but not ask them to revert it.

[2018-02-01 14:03] katrinleinweber commented on #321
Hello :-) Thanks for taking the time to send in your suggestion!

On my first workthrough of [`11-supp-read-write-csv.Rmd`](https://github.com/swcarpentry/r-novice-inflammation/blob/gh-pages/_episodes_rmd/11-supp-read-write-csv.Rmd#read-a-csv-and-explore-the-arguments) I felt that the data was step-by-step sufficiently documented. What do you feel is missing?

I'd be happy to review a PR with your

[2018-02-01 14:08] katrinleinweber commented on #250
Hello! Having myself been enchanted by `purrr::map()` last year, how about a `…-suppl-….Rmd` compares and contrasts it and `base::apply`?

[2018-02-01 14:20] MariekeDirk commented on #321
Hi,

Thanks for your comment. I agree that the documentation is good. It's more like an addition to the lesson, see http://r-pkgs.had.co.nz/data.html for an example of the data documentation. I find it quite handy as I sometimes forget what the different columns of my data frame meant. It also makes it easier to share your data with others.

What do you think?
Kind regards,
Marieke

[2018-02-01 14:41] katrinleinweber commented on #305
Thanks for taking the time make this suggestion, @Jerry-Lai :-)   I agree, and would be happy to review a PR of yours that implements this change. Please note that you can use [commit keywords](https://help.github.com/articles/closing-issues-using-keywords/) to automatically close this issue from within the PR ;-)

[2018-02-01 14:46] katrinleinweber commented on #321
A PR with that would be a learning opportunity for me, because I haven't had to do this myself so far. I'm curious how it would look for the `car-speeds`.

[2018-02-01 15:43] naupaka commented on #294
RIght, not a problem if you catch it, just potentially frustrating for new contributors to have to redo work.

[2018-02-02 08:10] katrinleinweber commented on #313
Cool! In the cases where you are addressing an issue with a commit, here's a neat trick to let GitHub automatically close the issue: https://help.github.com/articles/closing-issues-using-keywords/ ;-)

[2018-02-02 08:10] #313 closed

[2018-02-02 09:21] MariekeDirk commented on #321
I've worked out an example and put it on https://github.com/MariekeDirk/r-novice-inflammation.git

Technically it is not that difficult but there are quite some concepts which need to be introduced in order to make the documentation work.

In short (within /Vignettes/data_documentations.Rmd I included these steps):
1) Make a Rproject, including DESCRIPTION, NAMESPACE and /R folder (`devtools::crea

[2018-02-02 11:31] katrinleinweber commented on #321
Thank you!

Yes, how to proceed is a good question. It kinda fits both into [`11-supp...`](https://github.com/swcarpentry/r-novice-inflammation/blob/gh-pages/_episodes_rmd/11-supp-read-write-csv.Rmd#read-a-csv-and-explore-the-arguments) and into [`08-making-packages`](https://github.com/swcarpentry/r-novice-inflammation/blob/gh-pages/_episodes_rmd/08-making-packages-R.Rmd).

For now, I would aim f

[2018-02-02 14:04] MariekeDirk commented on #321
Tanks! :)

[2018-02-02 14:04] #321 closed

[2018-02-02 14:12] MariekeDirk opened #324 "improving the documentation / packaging episodes for both functions and data"
Hi there,

I was thinking of improving and adding to the 08-making-packages. I was wondering if it would be an option to add documentation of data (using `devtools::use_data_raw()` and `devtools::use_data()` )?

Let me know,
Kind regards,
Marieke

[2018-02-02 14:17] katrinleinweber commented on #324
This is a general discussion resulting from a specific suggestion in #324.

[2018-02-02 14:27] katrinleinweber opened #325 "hard-wrap comments longer than 80 characters to avoid scrolling horizontal scrolling"
Not in the rendered website, but in GitHub's preview. E.g. https://github.com/swcarpentry/r-novice-inflammation/blob/gh-pages/_episodes_rmd/11-supp-read-write-csv.Rmd#write-a-new-csv-and-explore-the-arguments

Splitting up all instances of  `# looong comment` into several lines:

    # looong
    # comment

[2018-02-02 14:39] katrinleinweber opened #326 "recommend to install roxygen2 from CRAN"
Is [`install_github("klutometis/roxygen")`](https://github.com/swcarpentry/r-novice-inflammation/blame/gh-pages/_episodes/08-making-packages-R.md#L93-L101) really still necessary? This can be simplified to: `install.packages(c("roxygen2", "devtools"))`, no?

[2018-02-05 14:00] #273 closed

[2018-02-06 19:26] katrinleinweber opened #327 "include SCIWG recommendation"
Based on https://github.com/force11/force11-sciwg/issues/37 we could add a lesson (section) about using [CodeMetaR](http://ropensci.github.io/CodeMetaR) to provide good package metadata. Esp. if #324 is implemented.

[2018-02-06 19:50] katrinleinweber commented on #257
Dear @ytakemon, thanks for this hint, and my apologies that this was left alone for so long.

[2018-02-06 19:57] #257 closed

[2018-02-08 12:29] #308 closed

[2018-02-12 07:12] katrinleinweber commented on #295
Hello @gosianow! Thanks for taking the time to submit this suggestion :-)

I agree about `presenting also colnames and rownames`, see #315. could I interest you in submitting a PR with that change, and a second one for the subsetting?

[2018-02-12 07:14] katrinleinweber commented on #296
As in #295, please feel free to send a PR. Your suggestion makes sense, so I'd be happy to review a specific "implementation" / addition to the lesson :-)

[2018-02-12 21:43] fmichonneau opened #329 "issue with SVG files"
Several SVG files are not rendering correctly, especially in Firefox.

![image](https://user-images.githubusercontent.com/5502922/36121323-cabbb25a-1013-11e8-841f-f8093bbe4b5c.png)

it might be worth regenerating them to ensure they display correctly across browsers

[2018-02-13 14:35] plantarum commented on #329
I just noticed this. I created those images, and at the time they worked as expected for Firefox. But I can confirm that's no longer the case, although they do still look fine on Chrome. I'll take a look at the original files.

[2018-02-13 15:53] plantarum commented on #329
I think I've fixed the issue in #330

[2018-02-13 15:56] fmichonneau commented on #329
thanks for taking care of this @plantarum. I took a quick look at the files in #330, and they do seem to render well in firefox.

[2018-02-13 20:44] katrinleinweber commented on #265
Hello, and thanks for bringing this topic into the discussion :-)

While I agree that `testthat` is extremely useful, I think for now, mentioning it and referring people to [exercism.io](http://exercism.io/languages/r/about) (see , see https://github.com/swcarpentry/lesson-example/issues/163) would be effective than to integrate teaching about tests here.

After #324 (or as part of it), teaching `

[2018-02-14 09:44] katrinleinweber opened #331 "convert "here" links to useful snippets"
[Berkeley's Web Accessibility guide](https://webaccess.berkeley.edu/ask-pecan/click-here) recommends against link texts like "Click `here` to read about our..." and suggests making them more descriptive: "..., read `About Us`". This helps screen reader users esp.

There are several instances of such links that could be converted accordingly.

[2018-03-05 08:15] #294 closed

[2018-03-05 20:40] sshrivastava224 opened #334 "Argparse package link and example"
In the "Command-Line Programs" lesson, the _argparse_ package is suggested when handling multiple command-line parameters. The link to the vignette is broken. The correct link to the package is: [argparse Command Line Argument Parsing](https://cran.r-project.org/web/packages/argparse/vignettes/argparse.html)

The readers are redirected to the package vignette for further information. It might be h

[2018-03-05 21:12] katrinleinweber commented on #334
Nice! Thanks for note about the broken link :-) Fixed now in the source, and will go live with an upcoming site-update.

About the example: Have you considered suggesting it to be included in the packages vignette itself? If you found that it "can be overwhelming", I think adding your easier introduction only here would not achieve as much benefit as adding it to the official vignette. What do you

[2018-03-06 21:00] KlausVigo commented on #334
Just a short comment. Usually it is better to use the canonical link to refer to R packages and websites:
https://CRAN.R-project.org/package=argparse/vignettes/argparse.html
instead of
https://cran.r-project.org/web/packages/argparse/vignettes/argparse.html
It is one of the things CRAN complains about if you submit a package.
Kind regards,
Klaus

[2018-03-07 07:20] sshrivastava224 commented on #334
Hi Klaus,

I agree that improving the vignette is a better option and I will contact the author as a follow up. Somehow that didn't occur to me as I was focussed on the lesson plan. With the example provided, I was trying to make the use of this package relatable to the current lesson, and to the students attending these workshops who are relatively new to R. We already have a lot to cover in the

[2018-03-07 07:27] katrinleinweber opened #335 "Convert CRAN URLs to their preferred, canonical form"
@KlausVigo suggested in #334 to convert CRAN URLs as described in https://cran.r-project.org/doc/manuals/r-patched/R-exts.html#Specifying-URLs. There are several more non-canonical URLs in this lesson: https://github.com/swcarpentry/r-novice-inflammation/search?utf8=%E2%9C%93&q=web+packages&type= that could be converted. Example: https://github.com/swcarpentry/r-novice-inflammation/commit/e614f2ad

[2018-03-07 07:33] katrinleinweber commented on #334
Hi Stuti!

As you say, the students already have a lot to cover. Therefore, I think the globally optimal solution is to help improve the vignette, instead of copying a better version/section here. Please let me know if you'd like assistance with sending a PR to the vignette author, convincing them to merge it, etc. My e-mail address is on https://www.tib.eu/en/research-development/non-textual-mate

[2018-03-17 20:18] katrinleinweber opened #342 "Can teaching class(), dim(), nrow() and ncol() be merged to teach str()?"
Just putting this here before I forget.

https://github.com/swcarpentry/r-novice-inflammation/blame/ccc2a0830cee4db70890f4cd26901e0b75422c4e/_episodes_rmd/01-starting-with-data.Rmd#L231

[2018-03-18 10:33] katrinleinweber commented on #249
Hello @dmi3kno :-) You mean [SWC-tidyverse](https://github.com/dmi3kno/SWC-tidyverse), I suppose? Would you be willing to send some of the changes you applied there back here as PRs? I'd be very interested in how "tidy upgrades" to this lesson here would look :-)

[2018-03-18 10:37] katrinleinweber commented on #245
Fixed by 3ee403989124343ffa8d47a08d54efb0ff8b38d5, but improvement discussion in https://github.com/swcarpentry/r-novice-inflammation/pull/337.

[2018-03-18 10:37] #245 closed

[2018-03-22 21:31] diyadas commented on #315
I'd prefer a shift to `colnames` to match `rownames`, which should produce the intended result for both data frames and matrices. `names` doesn't map onto column names for matrices - this can be confusing for learners.

[2018-03-27 08:01] #272 closed

[2018-03-27 08:09] katrinleinweber commented on #250
Related to #276, because both [readr & purrr are in the tidyverse](https://www.tidyverse.org/packages/).

[2018-03-27 08:41] dmi3kno commented on #250
R is evolving so fast that I no longer want to stand by base::apply(). It should be purrr::map all the way. We tried teaching it in SWC Oslo and it works like a charm. Highly recommend watching Hadley's cupcake rant video: https://www.youtube.com/watch?v=GyNqlOjhPCQ

Also, plenty of resources for teaching purrr, not least by Jenny Bryan

[2018-03-27 11:25] katrinleinweber opened #343 "Packaging: refer to other resources"
https://github.com/swcarpentry/r-novice-inflammation/_episodes_rmd/08-making-packages-R.Rmd could use a mention of https://devguide.ropensci.org/building.html (formerly [onboarding.../packaging_guide](https://web.archive.org/web/20171222124034/http://onboarding.ropensci.org/packaging_guide.html)).

[2018-03-27 23:09] PLNReynolds commented on #312
I agree that length is a helpful command. I added it to the list of commands, but that might not be the best place as novices are most likely to use for a vectors or factors and not data frame.  But, maybe it should appear even earlier when vectors are first introduced? Discuss?

[2018-03-31 21:12] katrinleinweber commented on #222
On https://github.com/swcarpentry/r-novice-inflammation/commit/faf11b4e3cd8bdb0d06b709669be3fd9d302d3ba I see: `R-package-structure.svg, arithmetic-variables.svg, memory-variables.svg, new-variables.svg, reassign-variables.svg, rmd-02-func-R-rescale-test-1.png, rmd-02-func-R-rescale-test-2.png, tag-variables.svg`

[2018-03-31 21:37] katrinleinweber commented on #222
Related to #217?

[2018-04-03 18:59] andzajan commented on #326
I definetely agree with this suggestion, roxygen2 in on CRAN for quite a while no, and on Windows machine with clean R/ R Studio installation it takes a long time to compile package from the source. It also need Rtools to be installed beforhand or during package installation.

[2018-04-10 19:22] fmichonneau opened #346 "New GitHub labels"
Hello maintainers

I'd like to deploy the [new GitHub labels](http://www.datacarpentry.org/2018-04-05-github-labels) for this repository in preparation for the Bug BBQ.

How would like me to deal with existing labels? I can either:
1. only deploy the new labels, the old ones will stay in the repository, and you can take care of the conversion at your convenience
2. deploy the new labels and re-ass

[2018-04-11 10:59] #335 closed

[2018-04-12 06:14] katrinleinweber commented on #346
I prefer to wait and see how the other repos fare. To match the proposed new standard, I already adjusted the colors of `good first issue` & `help wanted` here, but you know my opinion of diverging from the GitHub standard. So, I disagree with any other changes to the labels here.

@diyadas has a vote in this as well.

[2018-04-12 22:34] diyadas commented on #346
I do like the move toward splitting tags between type and status. However, I think there's potential for a substantial amount of overlap in the type tags, based on the issues I've seen thus far.

If the new labels are added, I definitely do not want to automatically convert `discussion` to `type: discussion`, etc. Right now, the `discussion` tag is used to indicate that the issue requires discussi

[2018-04-14 16:14] pauljohn32 opened #348 "Item numbering not parsed correctly"
If you don't see a quick fix for this minor problem, I'm willing to try to learn your setup so I can help.

On this page, I notice that the enumerated list numbering is broken by the insertion of comments within the items: http://swcarpentry.github.io/r-novice-inflammation/06-best-practices-R.  Look down to the word "rather than".  The next item is numbered incorrectly as "1".  Note that explicitl

[2018-04-14 16:51] katrinleinweber commented on #348
Hi Paul, thanks for reporting this and for providing the example :-)

This could indeed be tricky to fix in the template or the MD processor... It's a `5.` [in the `.md` file](https://github.com/swcarpentry/r-novice-inflammation/blame/gh-pages/_episodes/06-best-practices-R.md#L125-L133), but a new `<ol><li>` in the `.html`, so Jekyll seems to be the problem.

Although I'm curious for a correct sol

[2018-04-14 16:54] pauljohn32 commented on #276
I'm not an RStudio user/enthusiast.  I think it imposes the particular opinions and packages of the authors onto the users in a restrictive way.  Given that, you may not be surprised with my counter argument: if the software imposes judgments that make you feel you need to teach about different code content,  you should consider getting a different software tool.  You would not put up with a C++ e

[2018-04-14 16:58] pauljohn32 commented on #348
I need an idiot's guide.  Is it Jekyll I need to understand?
I know how to convert Rmd -> md -> html, but I don't understand what Jekyll is or what it has to do with this process.

[2018-04-14 17:35] diyadas commented on #348
Hi PJ. Jekyll parses the markdown to generate the website (so the MD -> HTML conversion, which is where the issue appears). You can read more about Jekyll [here](https://jekyllrb.com/docs/home/), if you'd like to dive in. However, if that's too much trouble, I think Katrin's workaround would be an equally good solution.

[2018-04-14 17:47] pauljohn32 commented on #348
I'm starting to understand.  I did not realize that Pandoc was not used for this purpose.  Am in process of installing Jekyll on my laptop so I can test this out.

[2018-04-14 17:50] pauljohn32 opened #349 "README.md refers to nonexistant "make preview" target"
I'm learning about your document production strategy.

In the README.md for the r-inflammation exercise, it says there is a Makefile target "make preview". I think that no longer exists.

    $ make preview
    make: *** No rule to make target 'preview'.  Stop.

It does, however, give an alternative list of make targets, such as "lesson-files". I get a good response from that.
[code]
I'm still too

[2018-04-14 17:55] diyadas commented on #348
Thank you for your efforts! It looks like there may actually be a solution in this StackOverflow [post](https://stackoverflow.com/questions/35858704/jekyll-kramdown-code-in-ordered-list-number-reset) but I'm not sure how that will fare in Rmd -> md conversion.

[2018-04-14 17:57] diyadas commented on #284
Related to #220.

[2018-04-14 18:44] bbolker commented on #276
I'm of two minds. On the one hand, the creeping tidyverse annoys me. On the other hand, I have to admit that some of `read_csv`'s defaults are nice (strings not automatically converted to factors; dates automatically converted to dates; flexible type-specification; informative report about parsing errors). Bugs me that there's not an argument to specify that column names should be sanitized (https

[2018-04-15 08:35] katrinleinweber commented on #349
Hello again! Another 🦅-👁-ed finding :-)

A `make preview` was indeed [never part of this repo](https://github.com/swcarpentry/r-novice-inflammation/blame/11b78e9c2ec95d5c3419b2c7690d6efe586a5762/Makefile). Must have been carried over from some even older one.

To preview the site, I usually [`make serve`](https://github.com/swcarpentry/r-novice-inflammation/blob/gh-pages/Makefile#L19-L21). `make l

[2018-04-15 08:37] #349 closed

[2018-04-15 08:58] katrinleinweber commented on #348
It fares well :-)

About pandoc: we [mention it in the lesson](https://github.com/swcarpentry/r-novice-inflammation/search?utf8=%E2%9C%93&q=pandoc&type=), but don't use it for the website build, except maybe within the `knit`-ing step. My understanding of all this is incomplete as well ;-)

[2018-04-15 08:59] #348 closed

[2018-04-15 08:59] katrinleinweber commented on #348
About pandoc: we [mention it in the lesson](https://github.com/swcarpentry/r-novice-inflammation/search?utf8=%E2%9C%93&q=pandoc&type=), but don't use it for the website build, except maybe within the `knit`-ing step. My understanding of all this is incomplete as well ;-)

[2018-04-24 20:50] KlausVigo commented on #302
I agree with @katrinleinweber here,
and it should not really a problem as `read.table` and `read.csv` share the same help file.
In fact the function definition of  `read.csv` is just a function call to `read.table`, just changing some of the default parameters.
[code]
This is even one of the simplest and shortest functions, only `...` argument will need some explanation.

[2018-04-25 06:48] katrinleinweber commented on #302
Since there is also a discussion about introducing the tidyverse with `read_csv()` (#276), I would like to request your opinions there.

[2018-04-25 07:06] katrinleinweber commented on #276
Following up the `read.table()` discussion (3 :+1:s, 2x caution): Do we need to decide between teaching:

a) either the versatile but multi-faceted foundation here, or
b) the convenient `read_csv()`, which enables us to drop the `stringsAsFactors` part?

2nd Q: How do you all feel about b) plus a new challenge like:

?

[2018-04-25 10:26] Geeketics commented on #276
Hi All,
Popping back into the thread after a long absence. I guess my original point wasn't trying to say "use tidyverse over base R" (or the other way around), but more let learners know that there are multiple ways of doing the same thing, we are teaching them one example way, and to be certain that we all get the same results in the class & can follow along without any surprise differences / er

[2018-04-27 23:55] KlausVigo commented on #276
Hi all,
I agree with the comments of @Geeketics and writing `stringsAsFactors = FALSE` can be an inconvenience. Warning from here on it is getting geeky. It may actually a good exercise to refer and look to the help pages (`?read.csv`,  `?read_csv` and resist googling stackoverflow). We will find lots of arguments are hidden in the `...` argument, there are the description of functions like `read.

[2018-04-28 00:51] murraycadzow commented on #276
I'd just like to point out that at least from Rstudio v1.1.442 (maybe earlier versions too) the options from the import dataset menu now specifically gives the option of "From text (base) ..." or "From text (readr) ..."

[2018-05-04 08:57] katrinleinweber opened #351 "Include links.md in .Rmd files?"
5bcf1b7c4687fa96163518cc48ac71a3eb51ffc3 was a quick fix, because I overlooked that a9ebddd437c765b0b622453760185c59be6a3010 didn't connect `links.md` to the `.Rmd` content.

- [ ] Try adding `{% include links.md %}` and revert 5bcf1b7c4687fa96163518cc48ac71a3eb51ffc3

[2018-05-04 09:00] baranpirincal opened #352 "Logo proposal"
Hey, I saw that your project has no logo design. If you interested, I can contribute on your project with making a logo design. My purposes are supporting open source projects and make my portfolio better. I am waiting your feedback. Have a nice day!

Best Regards,
Baran Pirincal
Visual Communication Designer

[2018-05-04 11:16] katrinleinweber commented on #352
Hi Baran,

since no other Carpentry lesson has its own logo, and [The Carpentries organisation had a new one made recently](https://software-carpentry.org/blog/2018/02/our-new-logo.html), I think we are good here.

You could ask the coordinators over in https://github.com/swcarpentry/lesson-example/issues whether they would generally support the idea of logos for each lesson. cc @rgaiacs

Nonethel

[2018-05-04 11:16] #352 closed

[2018-05-05 16:47] katrinleinweber commented on #276
About tidyverse: there might not be a real need to adapt this lesson, because of https://github.com/UoMResearchIT/r-tidyverse-intro. @diyadas and me agree that we should definitely not have both variants in one lesson at the same time.

[2018-05-05 18:07] katrinleinweber commented on #259
Hello @pcarbo, have you considered addressing this issues with a PR? It has been a while ;-)

[2018-05-05 18:10] #292 closed

[2018-05-06 06:28] katrinleinweber commented on #259
Accepted. No worries :-)

[2018-05-06 06:28] #259 closed

[2018-05-06 12:42] #351 closed

[2018-05-06 12:43] katrinleinweber commented on #351
Worked, but since no other `.Rmd` does it like this, let's keep `links.md` for lesson-level, general links, instead of aggregating all links from individual episodes there.

[2018-05-06 18:16] #217 closed

[2018-05-23 08:25] katrinleinweber opened #357 ""Edit..." & "Improve..." quick-links broken"
Both https://github.com/swcarpentry/r-novice-inflammation/blob/f4684f8d9769a39b4c33dcbe7ad91cbd8c12fa90/_includes/navbar.html#L73 and https://github.com/swcarpentry/r-novice-inflammation/blob/f4684f8d9769a39b4c33dcbe7ad91cbd8c12fa90/_includes/lesson_footer.html#L22 don't actually direct to the corresponding `_episodes_rmd/...Rmd` file. Apparently, ~~`replace` has no effect anymore~~ `{% if page.so

[2018-05-23 08:57] katrinleinweber commented on #357
PS: When I switch those two statement to `page.source == "md"` and swap the two links, I lock the `make serve`d page to always link to the `.Rmd` files, which then breaks the quick-links on https://swcarpentry.github.io/r-novice-inflammation/reference/ and the other, actually `md`-sourced pages.

[2018-05-23 13:46] katrinleinweber opened #358 "Can Jekyll ignore .Rproj.user/.../console.../... files?"
I'm sometimes noticing strange behaviour when running `make serve` https://github.com/swcarpentry/r-novice-inflammation/blob/4ce675e43799fd6b2f541630db35d1d4b48c175f/Makefile#L19-L21

from within RStudio( v1.1.447)'s Terminal tab (with Jekyll 3.7.2 on macOS 10.13.4). Every few seconds, RStudio seems to create a new temporary file (like `.Rproj.user/B7811A1D/console06/309F8013`) which triggers Jeky

[2018-05-23 14:11] fmichonneau commented on #358
you can try to add this folder to the "exclude" in `_config.yml` (https://jekyllrb.com/docs/configuration/#global-configuration)

[code]

[2018-05-23 14:23] fmichonneau commented on #357
I think it comes from a recent modification in the expectation of the data that are included in the yaml headers of the episodes. The Rmd files should include:

[code]

[2018-05-23 15:48] #358 closed

[2018-05-23 15:50] #357 closed

[2018-06-07 18:20] katrinleinweber commented on #324
This is being done in #309. Please feel free to review and test :-)

[2018-06-07 18:47] katrinleinweber commented on #265
@sluedtke @bbolker @chendaniely I'm working on this in https://github.com/TIBHannover/FAIR-R/pull/1 for a Carpentries-based workshop. Please feel free to test and comment there. After that workshop, it might be worth merging at least a few of the updates back in here.

[2018-06-08 09:08] katrinleinweber commented on #309
@lvclark: I drafted a larger rewrite about docu and packaging in #360. Please feel free to test & review.

[2018-06-08 21:26] fmichonneau commented on #346
@diyadas Could you clarify the difference you see between "discussion" and "type:discussion". The latter is [defined](https://docs.carpentries.org/topic_folders/maintainers/github_labels.html) as:

and is not intended to be different from the old "discussion" label.

The lesson infrastructure committee has approved the common set of labels (https://docs.carpentries.org/topic_folders/maintainers/gi

[2018-06-08 22:34] diyadas commented on #346
I see the current usage of "discussion" to be broader than "type:discussion" including a meta level of the lesson contribution process, and not just the teaching of the lesson.

If you're deploying the new labels, please don't convert any of the old ones. I strongly prefer manual retagging on an issue by issue basis to avoid confusion.

Thanks.

[2018-06-11 03:51] AnthonyDShaw commented on #331
I have begun converting links in my own fork to meet these standards and will push them once they are done, but I have noticed that there are many glossary links, where a single word or concept (like String) has a link to the glossary.
Is it suitable to leave these glossary links to stay as they are, or should they perhaps have an annotation? E.g. the String link might instead become the String (G

[2018-06-11 05:49] katrinleinweber commented on #331
Hi Anthony, and thanks for working on this :-)

I suggest to leave glossary links as they are for now. I'm looking forward to reviewing your PR with the new link texts. Feel free to open it already. Cheers!

[2018-06-12 04:46] AnthonyDShaw commented on #331
Hi @katrinleinweber , I was going to make a pull request, but after reading the guidelines "[SWC] would like substantial changes to be raised in an issue for input from maintainers before [I] work on a PR"

I am unsure if that counts in this context since I was going to make a pull request in response to your issue, but just in case I will instead link my own repository with the changes for commen

[2018-06-12 05:45] katrinleinweber commented on #331
Updating some phrases are not "substantial changes" IMHO. Since a PR has built-in review features, I find that most effective ;-)

[2018-06-12 09:20] diyadas commented on #331
Thanks for your work on this Anthony!

I just wanted to chime in and mention that it is the Rmd files that should be edited and committed, not markdown files directly, since the markdown is generated from the R markdown.  I'll tweak the contribution guidelines a bit to make this (and PRs vs. issues) clearer.

[2018-06-12 12:34] katrinleinweber commented on #331
Whoa, sorry for missing that! I thought #359 would prevent this from happening again.

[2018-06-12 12:59] katrinleinweber opened #363 "In the Rescaling challange, formulas are not rendered"
http://swcarpentry.github.io/r-novice-inflammation/02-func-R/#rescaling

I tried 4 different browsers, with JavaScript on, ad-blocker off, etc. There seems to be a bug in our publishing scripts. I checked whether they render in the 2-years-old e7f332475a67987fb726b9457772d9f7067f09f0, but they don't. Do they for anyone else?

Maybe related to #154?

[2018-06-12 13:22] katrinleinweber opened #364 "Focus 02-func-R.md#testing-and-documenting on most useful tests?"
Follow-up to #361: https://github.com/swcarpentry/r-novice-inflammation/blob/d1773f4ae7e0dfae36c456e39a6647fd0baba986/_episodes/02-func-R.md#testing-and-documenting currently teaches all `min`, `mean`, `max` and `sd` to interactively test the `center` function. I'm confused by this number of tests TBH, and esp. explanation:

and `max` is not refered to. I trust that it's mathematically correct, bu

[2018-06-12 19:27] diyadas commented on #363
It doesn't render for me either.

[2018-06-12 20:12] katrinleinweber commented on #363
Time to call the cavalry :-D @rgaiacs: Do you know what has caused this? I tried `git bisect` and `make serve`, but before I found the bad commit, I got back to a time before there was a `Makefile`. Then I wasn't sure any more how to test whether that formulae rendered.

[2018-06-12 22:05] rgaiacs commented on #363
We don't include MathJax into the styles. For details, see https://github.com/carpentries/styles/issues/154.

I understand that styling the variables/letters like in math textbooks would be great but we not writing complex math so I prefer that we avoid the inclusion of MathJax so that the page load faster for users. The quoted section could be rewrite without lost it meaning like

[code]

[2018-06-13 08:09] #363 closed

[2018-06-13 08:11] katrinleinweber commented on #363
OK, thanks for the info and suggestion :-)

[2018-06-17 19:15] mesako opened #372 "Make alt text for images less vague?"
The alt text for some lesson images does not specifically describe what is shown in the image. While this may not be as necessary for “supplemental” images that reinforce ideas already described in the text, some of the writing implies that the user must see/understand what the image conveys.

A good example of this pattern is found in the [Making R Packages section](http://swcarpentry.github.io/r

[2018-06-18 05:51] katrinleinweber commented on #372
Hello Melissa :-) I see what you mean. I' happy to review a PR with your ideas to rephrase too vague alt texts.

[2018-06-19 19:38] jnvaughn opened #374 "adding code example to "Automatic return""
Would be nice to see something like this examples associated with the side note:

So, an alternative way of writing the previous function would be:
fahrenheit_to_kelvin <- function(temp_F) {
  ((temp_F - 32) * (5 / 9)) + 273.15
}

[2018-06-19 19:55] katrinleinweber commented on #374
Good point, but I wonder whether we can turn [that side note](http://swcarpentry.github.io/r-novice-inflammation/02-func-R/#automatic-returns) into something even more useful ;-) How about a challenge that leads learners to the solution you posted above. They would have to figure out then, that the intermediate `temp_K` assignment can be removed as well. What do you think?

Either way: do you want

[2018-06-22 14:52] cdarabos opened #377 "Broken link to dataset: r-novice-inflammation-data.zip"
Link to dataset at the bottom of the page is broken: Download r-novice-inflammation-data.zip and move the file to this folder.
---

Thanks for contributing! If this contribution is for instructor training, please send an email to checkout@carpentries.org with a link to this contribution so we can record your progress. You’ve completed your contribution step for instructor checkout just by submitti

[2018-06-23 05:06] #377 closed

[2018-06-23 05:07] katrinleinweber commented on #377
Great minds think alike, and sometimes at the same time even of different continents :-D

[2018-06-23 05:09] diyadas commented on #377
Thanks for resolving the issue so quickly :)

and thanks again @cdarabos for bringing this to our attention!

[2018-06-23 05:10] katrinleinweber commented on #377
It might have been something in #373. In 6c59c895b238ad927e0571b3cedaf0f17e3782c6, the whole metadata block was removed, but I tested that here as well, and it didn't help. I'll `git bisect` it and report back.

[2018-06-23 05:50] katrinleinweber commented on #377
Meh, doesn't work that easily. When `bisect` checks out a commit that was introduced by #373, the working dir is purged of all the `r-novice` files, so `make serve` runs into lots of missing file errors, and doesn't even progress to building the `/setup` and I thus can't even check where the link breaks.

I'm now merging 7400b93450253fadbb0ee1263bb950fb4ca4f06a into each checked-out state during

[2018-06-23 06:02] katrinleinweber commented on #377
It seems that b2c0a4d4837ba582a9a46734904b376fea935906 triggered this bug, but probably in combination with [`setup.md`@c02276f1](https://github.com/swcarpentry/r-novice-inflammation/blame/c02276f17ef847299cf66932da6ec98defdc15d1/setup.md) not having been prepared for the v9.3.0 style update, as [`r-novice-gapminder`'s `setup.md`](https://github.com/swcarpentry/r-novice-gapminder/commit/2af2ca93c5

[2018-06-23 12:53] maxim-belkin commented on #377
Hmmm. The download link works for me

[2018-06-23 13:48] katrinleinweber commented on #377
Before the two fixes https://github.com/swcarpentry/r-novice-inflammation/commit/c02276f17ef847299cf66932da6ec98defdc15d1 & https://github.com/swcarpentry/r-novice-inflammation/commit/18f6d4b578b8bac8b2ef764a9207a79fa68587da?

[2018-06-23 13:49] maxim-belkin commented on #377
um, with them, actually 😬

[2018-06-23 14:06] katrinleinweber commented on #377
Does it work at `git checkout c02276f17ef847299cf66932da6ec98defdc15d1`?

[2018-06-26 22:32] fmichonneau commented on #346
This repository has now been converted to use the standard set of labels. Existing labels have been preserved.

The lesson infrastructure committee hopes the standard set of labels will make it easier for you to manage the issues you receive on the repositories you manage.

The lesson infrastructure committee will evaluate how the labels are being used in the next few months and we will solicit yo

[2018-07-04 23:37] aabarug opened #379 "Suggestion: use typeof() to demonstrate that matrices are extensions of vectors and dataframes are extensions of lists"
(This is part of my instructor checkout)

In the Data Types and Structures sections, the `class` and `typeof` functions are introduced. Under the matrix section, matrices are described as extensions of numeric and character vectors. Data-frames as described as special lists. It might be helpful to include `typeof()` and `class()` on a matrix and on a data-frame to illustrate that while the class m

[2018-07-05 00:32] diyadas commented on #379
Thanks for your comment @aabarug ! While I agree with you, I'm a little concerned about time on this episode. On the other hand, it's a supplementary episode so I tend to think of it as an expansion in any case. @katrinleinweber what do you think?

[2018-07-10 13:41] katrinleinweber commented on #379
Hi! Was preparing a workshop, sorry for the few days silence.

You mean under [13-supp-data-structures.Rmd#matrix](https://github.com/swcarpentry/r-novice-inflammation/blob/gh-pages/_episodes_rmd/13-supp-data-structures.Rmd#matrix), right? I haven't taught this part, so I think the best way to decide would be to review a pull request that changes the `.RmD` file in the way you mean.

I definitely

[2018-07-10 13:43] katrinleinweber commented on #379
PS @aabarug: Please include a "(fix #379)" in the message of the commit, if you make this change. It will unlock a little [GitHub magic](https://help.github.com/articles/closing-issues-using-keywords/) ;-)

[2018-07-12 19:46] nick-ulle commented on #325
I've submitted a pull request to hard-wrap the comments that are longer than 80 characters.

[2018-07-13 08:00] #325 closed

[2018-07-23 17:02] remram44 opened #384 "Reference page is broken"
https://swcarpentry.github.io/r-novice-inflammation/reference.html

Probably another problem from styles update

[2018-07-24 03:19] chsuong opened #385 "Broken link in the lesson"
The link about the comma-separated values (CSV) format (http://swcarpentry.github.io/r-novice-inflammation/reference/#comma-separated-values-csv) is broken. The link is included in the first episode (http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html).

[2018-07-24 07:43] katrinleinweber commented on #385
Phew, thanks for the quick warning about this problem :-)

I'll have to test https://github.com/swcarpentry/r-novice-inflammation/blob/9c9198f5ce2f3f0ab073bd2276ded9aaa374ee55/Makefile#L84 still, but the site links should work again.

[2018-07-24 14:42] chsuong commented on #385
The link in another episode also seems to be broken. The problematic link is https://swcarpentry.github.io/shell-novice/01-filedir/ on the page http://swcarpentry.github.io/r-novice-inflammation/03-loops-R/.

[2018-07-24 15:18] katrinleinweber commented on #385
Thank you! Keep it up :-) Also with PRs, if you want to click on the `Improve this page` at the top whenever you find a broken link, and know the new/correct one.

[2018-07-24 16:19] katrinleinweber commented on #385
Changing https://github.com/swcarpentry/r-novice-inflammation/blob/9c9198f5ce2f3f0ab073bd2276ded9aaa374ee55/Makefile#L84 does not seem to have effect, positive or negative on `make serve`, so I'll ignore it for now.

[2018-07-24 16:19] #385 closed

[2018-07-30 10:06] mrakovic opened #387 "Reading and Writing CSV Files in R: Introduce na.strings argument and explain how to read CSV file by providing a filename only"
Hi everyone,
I would like to offer two suggestions related to the lesson "Reading and Writing CSV Files in R":
1. In most cases, researchers need to deal with missing data in their datasets, so introducing na.strings argument (among other read.csv arguments introduced in the lesson so far) may be a useful complement for those researchers who want to know, for example, how to convert empty cells in

[2018-07-30 21:35] #379 closed

[2018-07-31 04:31] katrinleinweber commented on #387
Hello :-) I agree with @diyadas' `2.` argument.

About `1.`: The  argument is also intended for cases in which the raw data contains something else, like `n.a.`, `--`, etc. It can also take a `c()`ombination of several strings. I think a PR changing exactly the phrases that you mean, or adding what you want to see included, would be best to decide. If you do, please include a "(fix #387)" in your

[2018-08-09 14:18] brimittleman opened #389 "trouble with quotes in writing CSVs and tables"
In reading through the intro R lesson section about reading and writing files, I do not see a discussion about the quote=T/F argument. As a novice, I never understood why the files I wrote had all of the values quoted. Is there a reason this is not discussed or used here?

[2018-08-09 14:55] katrinleinweber commented on #389
Hi Briana,

that is an interesting question! Because `git log --oneline | grep "quote"` or `"csv"` don't provide a (to me) obvious answer, I presume it is expected that

a) either [`11-supp-read-write-csv`](https://swcarpentry.github.io/r-novice-inflammation/11-supp-read-write-csv/index.html#the-stringsasfactors-argument) clarifies it, or
b) learners read through `help(read.csv)` and talk about th

[2018-08-10 14:52] brimittleman commented on #389
I agree that the lesson is quite full. In thinking that way, pointing novices to the fact that quotes are remnants of strings will be sufficient. If they know this then it should be easy to google and fix the problem if they see it.

[2018-08-20 18:33] katrinleinweber commented on #265
Hi @sluedtke,

Please have a look at https://tibhannover.github.io/FAIR-R/05-testthat/ where a condensed, advanced variant of this lesson has been developed. It emphasises function docu, packaging and testing. We'll therefore probably not include a lot of it here.

Thus, I'm going to close this.

Kind regards,

Katrin

[2018-08-20 18:33] #265 closed

[2018-08-20 18:41] katrinleinweber commented on #276
Also, there is https://swcarpentry.github.io/r-novice-gapminder/ which is focussing on the tidyverse way of doing things ;-)

[2018-08-20 18:41] #276 closed

[2018-08-20 18:43] #346 closed

[2018-08-20 18:45] katrinleinweber commented on #163
Because the related PR was also closed, and this discussion hasn't progressed, I'm going to close this. Please feel free to send another PR from a branch that is based off of current `master`.

[2018-08-20 18:45] #163 closed

[2018-08-20 18:47] diyadas commented on #249
I'm closing this issue for now, as the [r-gapminder](http://swcarpentry.github.io/r-novice-gapminder/) lesson focuses on the tidyverse.

[2018-08-20 18:47] #249 closed

[2018-08-20 18:47] katrinleinweber commented on #343
Related to #360, because packaging is touched there as well.

[2018-08-20 18:50] katrinleinweber commented on #213
Since we have many correctly formatted challanges in the episode files, @diyadas and me want to refrain from duplicating one of them into another file. We'll encourage contributors to use other episode files as examples.

[2018-08-20 18:50] #213 closed

[2018-08-20 18:52] katrinleinweber commented on #342
Related to #298.

[2018-08-20 18:55] katrinleinweber commented on #290
Because `rowMeans` is included in https://github.com/swcarpentry/r-novice-inflammation/blame/9c9198f5ce2f3f0ab073bd2276ded9aaa374ee55/_episodes/01-starting-with-data.md#L812 This discussion seems to have resolved itself over time. Please reopen if I understood the gist of this issue incorrectly.

[2018-08-20 18:55] #290 closed

[2018-08-20 18:56] diyadas commented on #236
@fmichonneau : @katrinleinweber and I are resolving a lot of issues today :) What do you think of this one?

[2018-08-20 18:58] katrinleinweber commented on #236
Maybe related to #376.

[2018-08-20 20:14] diyadas commented on #342
`str()` is actually already mentioned in the supplementary episode (13), http://swcarpentry.github.io/r-novice-inflammation/13-supp-data-structures/index.html. Perhaps all is needed is adding a note that this function can supersede the others in terms of usefulness? It's not really explained.

[2018-08-20 21:23] fmichonneau commented on #236
I can set up the repo to be built and deployed from Travis so it will always be the same environment that generates the markdown files.

[2018-08-20 21:59] diyadas commented on #312
Closing (my own) issue - having taught the lesson now in a workshop, I don't think it's as big an issue. It's introduced not long after where I'd proposed, and the first episode is already full of information that I wouldn't want to remove.

[2018-08-20 21:59] #312 closed

[2018-08-20 22:01] diyadas commented on #236
I like that solution. Thanks @fmichonneau !

[2018-08-20 22:09] diyadas commented on #324
IMO, this parallels #309. If there's a significant overhaul, maybe documentation of data could be included, but we do need to carefully consider the addition of concepts a [non-supplementary] episode.

[2018-08-20 23:41] fmichonneau commented on #236
I should be able to set it up by the end of the week. Do you think it will be possible to get the PR merged/closed by then? Enabling Travis requires switching the default branch, and it would affect open PRs.

[2018-08-21 00:10] diyadas commented on #236
Oh! @katrinleinweber should confirm - I know she was planning some work during these next two weeks which includes updating and merging one of the open PRs.

[2018-08-21 03:28] diyadas commented on #222
This seems to have been resolved at some point. make lesson-check reports other errors, but not this one.

[2018-08-21 03:28] #222 closed

[2018-08-21 03:30] diyadas opened #390 "make lesson-check: "Unknown or missing blockquote type None""
The following output from `make lesson-check`, to follow up on:

[code]

[2018-08-21 11:35] #390 closed

[2018-08-23 09:49] katrinleinweber opened #391 "Remove 08-making-packages-R & refer to external resource?"
@diyadas and me had an idea, about which we'd like the CAC's opinion. Generally: **Can we maintainers decide to remove an episode in favor of an external resource?**

The [handbook](https://docs.carpentries.org/topic_folders/maintainers/maintainers.html) doesn't get this specific, so that `lessons stay up-to-date` could be interpreted as "remove old stuff", while `cohesive` seems to lean more to t

[2018-08-23 09:50] katrinleinweber commented on #309
This is getting a bit out of hand. I'll try resetting `08-packaging` and updating it only minimally with the reference to `center.R` & `rescale.R`.

[2018-08-23 11:05] katrinleinweber commented on #309
The discussion has moved on in https://github.com/swcarpentry/r-novice-inflammation/pull/360#issuecomment-415345689.

[2018-08-23 11:05] #309 closed

[2018-08-31 19:12] mellertd opened #392 "More explanation of functions?"
Reading through **1. Analyzing Patient Data** and it seems like functions are kind of glossed over (there are hyperlinks to explanations), whereas variables get a lot of explanation with diagrams. It seems a little uneven, particularly since functions are passed to another function as arguments later in the lesson (where apply is discussed). Are learners experiencing any problems with the function

[2018-09-01 05:03] katrinleinweber commented on #392
Hello @mellertd and thanks for raising this topics :-)

I had considered your suggested learning objective as general to the entire lesson or even to the Carpentries. I'd be happy to review a PR with a specific wording suggestion. "Operations" could for example be confusing functions and operators. Also, "built-in functions" could be useful to distinguish those in **1.** from the more [specific ob

[2018-09-01 05:13] diyadas commented on #392
Hello!

I had not noticed particular difficulties with functions. If anything, I'd prefer a PR on episode 2, creating functions - it would indeed be a good way to reinforce episode 1. Something along the lines of

would be a better opening paragraph than the current one. Wording could be improved :)

[2018-09-01 08:17] katrinleinweber commented on #236
Yes, I have nothing planned during September, as I'll be on vacation. As we discussed in the last call, we completed #298 & I verified that we have no headings deeper than a single level per episode. So, go Travis :-)

[2018-09-10 19:33] duytpm16 opened #393 "Adding options(stringAsFactors = FALSE) [episode 11]"
Hi,

Would it be worth mentioning to learners that having the line of code, options(stringAsFactors = FALSE), at the beginning of a script is another solution to prevent R from converting strings to factors?

Particularly in 11. Reading and Writing CSV files or 12. Factors (under Default Behavior)

I find this trick very useful because I don't have to manually set stringAsFactors to FALSE when I'm

[2018-09-10 19:40] diyadas commented on #393
Hi Duy, thanks for your comment!

Episode 11 already has an entire section on stringsAsFactors = FALSE in the reading of csv files, so I would put it there. I don't want to keep adding material due to length, but it is a useful trick and I think one sentence at the end of the section would be fine. The trick is to avoid adding an entire section on options, but maybe another sentence linking to whe

[2018-09-10 19:42] diyadas commented on #236
Hi @fmichonneau - any chance we could make the switch this week? I'd love to go ahead before more PRs roll in.

Thanks!

[2018-09-11 09:06] AmierohAbrahams opened #394 "Potential reorganization of lesson (dataset info, GitHub + RStudio integration)"
Software Carpentry

With regards to the R-programming, before analysing the data and constructing graphs first provide a background  on the data that being investigated (Where the data was collected, How the data was collected and what we are trying to achieve by looking at the dataset). This keeps the learners interested and allows learners to formulate hypothesis which could be achieved by visua

[2018-09-11 09:50] katrinleinweber commented on #236
I'm on holiday until the end of September. Please feel free to go ahead.

[2018-09-11 10:00] katrinleinweber commented on #394
Dear @AmierohAbrahams,

a little bit of background on this example datasets is in [`index.md`](https://github.com/swcarpentry/r-novice-inflammation/blob/gh-pages/index.md). I'd be happy to review a PR that updates those few sentences to be more engaging. Let's continue that part of the discussion there then.

And let's discuss your RStudio suggestion in this issue. I agree basically and in the han

[2018-09-11 10:04] katrinleinweber commented on #394
PPS: Since you mention linking Git & RStudio, I'd be happy to learn your thoughts on [FAIR-R/04-making-packages-R](https://github.com/TIBHannover/FAIR-R/blob/gh-pages/_episodes_rmd/04-making-packages-R.Rmd).

[2018-09-11 12:59] fmichonneau commented on #236
working on this now. I'll let you when it's completed and functional.

[2018-09-11 15:35] fmichonneau commented on #236
The transition to Travis is now complete. A few important considerations:

- **The default branch for this repository is now `master` (this will affect existing pull requests)**.
- After each push to `master` Travis takes the content of the repository, knits the episodes, and push the content of the repository to the `gh-pages` branch. From there GitHub takes care of rendering the website at the u

[2018-10-13 15:32] diyadas opened #398 "remove .gitkeep files / empty directories"
As in discussion on #395

also: move `files/r-novice-inflammation-data.zip` to `data`

[2018-10-13 17:42] #398 closed

[2018-10-13 17:42] katrinleinweber commented on #398
I had the changes staged locally already ;-)

[2018-10-15 00:54] statkclee opened #399 "Permission denied error when rendering Rmarkdown file"
I'm trying to translate R Novice Rmd file into Korean.
At the final stage for the HTML production, I've got the following error,

`kclee@MacBook:~/swc/r-novice-kr$ sudo make lesson-md`

`make: bin/knit_lessons.sh: Permission denied`
`make: *** [_episodes/01-starting-with-data.md] Error 1`

Is there any walkaround?

[2018-10-15 07:12] katrinleinweber commented on #399
Hello! This is probably related to our recent clean-up (https://github.com/swcarpentry/r-novice-inflammation/commit/98825367d8ecf555e567cd8538f403f259940313). Does the process not create the `_episodes` folder by itself? Does `mkdir _episodes` and repeating the process prevent this error?

[2018-10-15 15:40] katrinleinweber commented on #399
It shouldn't be. [`make lesson-md`](https://github.com/swcarpentry/r-novice-inflammation/blob/98825367d8ecf555e567cd8538f403f259940313/Makefile#L88-L92) should just work. I'm on it!

[2018-10-15 15:50] katrinleinweber commented on #399
OK, I bisected through the history but could not reproduce this problem, at first. It does not seem to be an issue with the code.

Thus, it might be with your copy of `knit_lessons.sh`. Please try the following in a terminal/shell:

1. `ls -lg bin/knit_lessons.sh` -- If the returned permission set is something like `-rw-r--r--` (no `x`!) the file is not marked as e`x`excutable.
2. You can make it

[2018-10-15 15:56] katrinleinweber commented on #399
PS @diyadas: The [Travis failure](https://travis-ci.org/swcarpentry/r-novice-inflammation/builds/441060276#L1706) reported for this repo currently, seems to be different, although the error message contains `01-starting-with-data.md` as well. The site still works, as does the download link from the `files` location (see #398).

I can't investigate this week, so I suggest the not-so-great option of

[2018-10-15 16:33] diyadas commented on #399
Thanks for the heads up. I suspect that it does need the` _episodes` folder to be a part of the repo?

@fmichonneau can you confirm, off-hand?

[2018-10-15 17:04] katrinleinweber commented on #399
OK, that can be easily tested.

[2018-10-15 17:42] katrinleinweber commented on #399
As usual, you were rigth :-)

[2018-10-16 00:46] statkclee commented on #399
@katrinleinweber `chmod` just works. Thank you so much!

[2018-10-16 15:34] diyadas commented on #399
Great! I'm closing this issue, but do let us know if you continue to have similar problems.

[2018-10-16 15:34] #399 closed

[2018-10-24 19:05] katrinleinweber commented on #394
Due to several weeks of inactivity, I'm going to close this. @AmierohAbrahams: Please feel free to reopen, if still relevant.

[2018-10-24 19:05] #394 closed

[2018-11-14 04:04] diyadas opened #401 "Clarify repo purpose and contributions"
I brought up this lesson during the R-Ladies SF meetup on contributing to OSS projects on GitHub, and it turns out that people might find it really confusing if they landed on our page by "browsing GitHub," vs. coming through the Carpentries. I did not have this issue because I was directed to this repo by the Carpentries, but it's not immediately clear that our repo is for a website (unless peopl

[2018-11-14 07:11] katrinleinweber commented on #401
Agreed. I'm guessing @rgaiacs can update the description. Let's try something that ends in `website:` though, so that the link up there gets more attention.

[2018-11-14 08:55] rgaiacs commented on #401
The new description looks good to me. But I can't change. @fmichonneau is the person in charge of the descriptions.

Good suggestion. @fmichonneau is in charge of changes like this.

Another great suggestion. Pull request to https://github.com/carpentries/styles changing https://github.com/carpentries/styles/tree/gh-pages/.github is very welcome.

[2018-11-14 21:17] HungryWave opened #402 "read.csv stringsAsFactors argument now defaults to FALSE? [episode 11]"
I am an R newbie. In the reading CSV files chapter, the example of replacing one color name with another does not seem to produce a vector with numbers now. It looks as though read.csv defaults to reading in the colors as strings now. Has this changed? Should this chapter be updated?

[2018-11-14 21:17] HungryWave commented on #402
# Here we will use R's `ifelse` function, in which we provide the test phrase,
# the outcome if the result of the test is 'TRUE', and the outcome if the
# result is 'FALSE'. We will also assign the results to the Color column,
# using '<-'

# First - reload the data with a header
carSpeeds <- read.csv(file = 'data/car-speeds.csv')

carSpeeds$Color <- ifelse(carSpeeds$Color == 'Blue', 'Green', carS

[2018-11-15 06:14] diyadas commented on #402
Hello @HungryWave! I believe you're referring to [Episode 11](http://swcarpentry.github.io/r-novice-inflammation/11-supp-read-write-csv/index.html).

Thank you for sharing this info. I have a few questions, since I'm not able to reproduce this. If you are willing to provide some additional information, this might help figure out why you are getting a different result:

1. Could you please let us k

[2018-11-20 05:42] orb16 opened #404 "Error in loop exercise setup - 'making choices' lesson?"
In the exercise "find the maximum inflammation score" in the lesson "Making choices" http://swcarpentry.github.io/r-novice-inflammation/04-cond/index.html the inner loop reads

`for(patient_index in length(dat.means))`
This is supposed to iterate over all patients in each file; but you would either need to use
`1:length(dat.means)`
or alternatively (and what I would suggest):
`for(patient_index in

[2018-11-20 09:14] #404 closed

[2018-11-20 09:16] katrinleinweber commented on #404
Thanks for alerting us of this problem, @orb16 :-) Since `seq_along` is explained in [15-supp-loops-in-depth](https://swcarpentry.github.io/r-novice-inflammation/15-supp-loops-in-depth/index.html), and because it's a smaller step over what the previous episodes already included, I choose the  `1:` notation.

[2018-12-03 11:03] rmatumbas opened #405 "indicating interest during Github registration"
when creating a GitHub account you are requested to indicate your interest. GitHub should allow using space while typing your interest.  for example if I'm interested in **Statistics Analysis** I will have to combine the two using a hyphen/.dash. Is there a particular reason why space is not allowed?

[2018-12-03 11:37] katrinleinweber commented on #405
Hi Romeo, this is the repository for the Carpentries' R lesson ;-) I'm guessing you signed up to GitHub during a workshop in which that lesson was taught.

Maybe they want to direct users to [existing topics](https://github.com/blog/2309-introducing-topics). Please consider [asking GitHub this question](https://github.com/support) if my guess is not the answer you sought.

[2018-12-03 11:37] #405 closed

[2019-01-02 19:38] #315 closed

[2019-01-18 00:47] diyadas commented on #402
Closing as unable to reproduce - please comment with your R version if this still occurring and we'll take a look again.

[2019-01-18 00:47] #402 closed

[2019-03-18 20:32] reedacartwright opened #410 "Teaching '&' instead of '&&'."
In episode 4 we teach element-wise AND and OR comparisons.

However, for control flow `&&` and `||` are preferred:

Is this an oversight in the lesson, or is it intentional?

[2019-03-20 19:09] anacost opened #411 "r-discuss mailing list link on README.md is broken"
Hi,
the link to the r-discuss mailing list is broken.

[2019-03-21 11:50] anacost commented on #401
Hi @diyadas
we have updated the style in
https://github.com/carpentries/styles/pull/395
Maybe this helps with this issue.
Do you have suggestions?

[2019-03-22 08:21] #411 closed

[2019-03-22 08:21] katrinleinweber commented on #411
You're totally right! Thanks for reporting this :-)

[2019-03-22 11:57] katrinleinweber commented on #401
TBH, I think we have [too](https://github.com/carpentries/styles/blob/gh-pages/bin/boilerplate/README.md#contributing) [many](https://github.com/carpentries/styles/blob/gh-pages/bin/boilerplate/CONTRIBUTING.md#how-to-contribute) [different](https://carpentries.github.io/lesson-example/) places in which contribution advice is given. [Pro Git](https://git-scm.com/book/en/v2/GitHub-Contributing-to-a-

[2019-03-22 13:54] anacost commented on #401
hi @katrinleinweber ,
great comments! Would you like to propose an update on this part to the style?

[2019-04-04 08:25] katrinleinweber opened #413 "Unresolved question about default arguments?"
Please see: https://github.com/swcarpentry/r-novice-inflammation/blob/21a0ee0c7eaf71ccd4136b7691ade9aefaf739fe/_episodes_rmd/02-func-R.Rmd#L503-L535

Do you all feel that the "… functions always behave the same way?" question is resolved, by the `min` & `max` results below. Should there be some explanatory text?

[2019-04-04 08:26] katrinleinweber commented on #392
Hi @mellertd: Are you interested in starting the PR Diya suggested or should someone else do it?

[2019-04-04 08:27] katrinleinweber commented on #393
Hi @duytpm16: Are you interested in starting the PR Diya suggested or should someone else do it?

[2019-04-04 16:10] mellertd commented on #392
Sorry this fell off my radar. I thought the wording looked pretty good in Diya's response. Totally swamped at the moment so if someone can take it, that would be great. Otherwise I'll get to it as soon as I can (and will set a reminder for myself!)

[2019-04-05 02:29] diyadas commented on #413
I think it good practice to make these sorts of things explicit, as it also offers an opportunity for learners to ask questions if they are confused about *why* these calls to the same function return different results. Thanks for catching this. I'd welcome someone to add explanatory text.

[2019-04-07 19:26] katrinleinweber commented on #413
What do you think is the purpose of that `behave the same`-question? I followed the blame info back to https://github.com/swcarpentry/r-novice-inflammation/commit/08b1a9f0cac3bac4dc43f15cd6e08d7125d6f7bc, but am not sure where to check further ("r/novice")? Maybe @jdblischak or @gvwilson remember? If yes, please remove the "good first issue" label ;-)

I guess I understand why this challenge asks

[2019-04-07 20:09] diyadas commented on #413
Ah! I didn’t think that the discussion with the neighbor was about comparing implementations. I read the intent here as introducing the idea of arguments (and default arguments?) to functions.

I see now that this is rather confusing. Perhaps we could remove the part about comparing with a neighbor and come up with a more explicit question. Or even a statement to this end.

[2019-04-08 01:19] jdblischak commented on #413
@katrinleinweber That question is from the original Python lesson developed by @gvwilson. The link below is to the first commit of python-novice-inflammation:

https://github.com/swcarpentry/python-novice-inflammation/blob/279cd853865b5e61469bb8c7c9009912fb773a9f/_episodes/06-func.md

That is also my understanding.

I think the point is to get them thinking about testing. Try picking various input

[2019-04-08 06:46] katrinleinweber commented on #413
That's another aspect that I think confused me initially. Both that concept and the math are being requested a the same time. And the question didn't seem to fit either.

I wonder how often and/or in which way this happened in a workshop?

Cool, thanks for confirming :-) I would consider removing the `min()` & `max()` checks then, and the `answer <- ` assignment, because the function outputs would

[2019-04-08 08:50] katrinleinweber commented on #413
Which could be superceded by introducing `testthat::expect_equal()` right then and there ;-)
[I'm working on a draft about this](https://github.com/TIBHannover/FAIR-R/pull/19/files#diff-57331ba5e4f65f235644061cc45d43aa).

[2019-04-08 13:51] katrinleinweber commented on #410
Dear @reedacartwright, thanks for the prompting question. I don't think there is any intention behind this, so I started a PR based on your suggestion. Please have a look: #412. Does it reflect what you & R prefer?

[2019-04-08 16:53] jdblischak commented on #413
Those lines are never shown to the learner (the chunk has `include = FALSE` set). They are only visible if you read the source code. I put them there for any instructors/helpers reading through the lesson material. When an instructor goes to review the exercise live, these are suggested lines that they could run.

You are welcome to remove them if you don't like them, but I think using `min()` and

[2019-04-09 06:07] katrinleinweber commented on #413
True, but if they are intended for the instructor to present, then the disconnect between the question and the solution is still there from the learners' PoV ;-) Let's go for rephrasing the question.

[2019-04-10 08:00] #413 closed

[2019-04-16 21:45] fmichonneau opened #415 "June 2019 Lesson Release checklist"
If your Maintainer team has decided not to participate in the [June 2019 lesson release](https://carpentries.topicbox.com/groups/maintainers/T61c75ac1a8a89538/timeline-and-process-for-june-lesson-release), please close this issue.

To have this lesson included in the 18 June 2019 release, please confirm that the following items are true:

- [x] Example code chunks run as expected
- [x] Challenges

[2019-04-17 13:08] #410 closed

[2019-04-17 15:51] diyadas commented on #415
We've discussed and we'd like to be included in the June lesson release. Will work through the checklist.

[2019-04-18 08:21] katrinleinweber commented on #415
I'll also run `make lesson-check-all` and remove all warnings.

[2019-04-22 16:05] Afrah-Khairallah opened #420 "Best Practices for Writing R Code/Additional recommendations"
Lesson: Programming with R: 6. Best Practices for Writing R Code, under additional best practice recommendations. http://swcarpentry.github.io/r-novice-inflammation/06-best-practices-R/index.html

Knowing how to debug/fix coding errors is a critical aspect for good practice.

The following points on "how to handle the coding errors" can be added for best practice.

1.	Track the types of errors tha

[2019-04-23 11:39] katrinleinweber commented on #420
Thanks for these ideas, @Afrah-Khairallah!

Reading that episode again now, I think it might be a good place to add links to recommended external resources. Do you know a good blog post, paper or book chapter that contains your 4 points and maybe explains them in some more detail?

I'd be happy to review a PR against [_episodes_rmd/06-best-practices-R.Rmd](https://github.com/swcarpentry/r-novice-i

[2019-04-23 14:33] Afrah-Khairallah commented on #420
Hi Katrin, Thank you for your comment.

This blog is good  http://adv-r.had.co.nz/Exceptions-Debugging.html#debugging-answers
It explains the different types of errors (Fetal errors, warnings, and messages). It also explains Debugging techniques and tools that can be used for fixing  errors (e.g RStudio error inspector).

I don't have specific resources for all the points combined! If i find more

[2019-04-23 14:51] Afrah-Khairallah commented on #420
Hi Katrin, Thank you for your comment.

This blog is good http://adv-r.had.co.nz/Exceptions-Debugging.html#debugging-answers

It explains the different types of errors (Fetal errors, warnings, and messages). It also explains Debugging techniques and tools that can be used for fixing errors e.g RStudio error inspector. I don't have resources for all the points combined! If i find more i will share

[2019-04-24 11:07] katrinleinweber commented on #415
Regarding "File structure is clean": Can we remove the whole boilerplate folder?

[2019-04-24 13:45] fmichonneau commented on #415
it's not needed by the template. Depending on the number of lessons that will be involved in the release, I'm planning to migrate some/all to using remote themes. With this approach, none of the template files would be part of the repository anymore and updates to the template will happen with every push.

[2019-04-25 13:49] katrinleinweber commented on #415
Sounds good! #418 will remove those files for now and in case any later merge conflicts appear because of that, I take responsibility to for resolving them.

[2019-05-04 08:12] captainalan opened #423 "Data Types and Structures: discussion on types versus structures"
I think it would be helpful to include a discussion on data **types** versus **structures** in the [Data Types and Structures](https://swcarpentry.github.io/r-novice-inflammation/13-supp-data-structures/) lesson.

Particularly for users of R that have some experience with other programming languages (e.g. Python, ...), one of the most difficult parts of getting started with R is understanding what

[2019-05-04 19:00] katrinleinweber commented on #423
Thanks for pointing this out, Alan! Do you think that any of the ["objectives" or "keypoints" should be clarified or corrected](https://github.com/swcarpentry/r-novice-inflammation/edit/master/_episodes_rmd/13-supp-data-structures.Rmd)? If yes, we can discuss specifics in a (draft) PR. Adding the book reference you suggest could also work nicely (to the start or end of that episode, maybe?).

Befo

[2019-05-04 20:06] diyadas opened #424 "Missing challenge/exercise solutions and incorrect boxes"
Issue to keep track of missing solutions and incorrect boxes, in preparation for June 2019 lesson release. This tracks only supplementary episodes at the moment.

So far, incorrectly formatted challenges:
- [x] Solution given, but not formatted with hide button: https://github.com/swcarpentry/r-novice-inflammation/blob/master/_episodes_rmd/10-supp-addressing-data.Rmd#L68
- [x] No solution given: h

[2019-05-04 22:19] captainalan commented on #423
Here are some suggestions I believe could easily be incorporated without introducing more concepts and tools.

## Addition to first objective

- Expose learners to the different data types in R *and show how these data types are used in data structures*.

## Addition to second key point

- R's basic data structures include [...]. Some of these structures require that all members be of the same dat

[2019-05-05 11:20] katrinleinweber commented on #423
As a pull request, please ;-) If you open https://github.com/swcarpentry/r-novice-inflammation/edit/master/_episodes_rmd/13-supp-data-structures.Rmd, is there `Propose file change` at the bottom? If yes, please make the edits.

[2019-05-05 17:58] diyadas commented on #424
@katrinleinweber Can you figure out what the aim is of  https://github.com/swcarpentry/r-novice-inflammation/blob/master/_episodes_rmd/13-supp-data-structures.Rmd#L156 ?

The best guess I have is that they're 1 dimensional, and that is the definition of a vector. Is that the desired outcome? (Should we remove/rephrase this question?)

[2019-05-05 18:31] diyadas opened #427 "Missing challenge solutions in main episodes"
Main episode challenges requiring solutions:
1. - [x] optional, but some text would be good. https://github.com/swcarpentry/r-novice-inflammation/blob/master/_episodes_rmd/01-starting-with-data.Rmd#L94
2. - [x] optional, but some text would be good. https://github.com/swcarpentry/r-novice-inflammation/blob/master/_episodes_rmd/01-starting-with-data.Rmd#L101
3. - [x] needs a diagram for solution: h

[2019-05-05 18:43] diyadas commented on #302
I'm going to close this issue as even #276 has been closed.

[2019-05-05 18:43] #302 closed

[2019-05-05 18:46] diyadas commented on #401
Hi @fmichonneau would you be able to change the description on this repo to something like:
"Repo creates a website for the Software Carpentry introduction to R for novices using inflammation data: "

That's the last item outstanding here - all the other suggestions have been implemented, thanks all.

[2019-05-05 19:18] katrinleinweber commented on #424
I guess so. Because several more 1D vectors follow below that challenge, we could maybe move it to directly above the `Matrix` section.

[2019-05-06 16:30] diyadas commented on #424
I pushed the others, but I could use some help with the call stack diagram.

[2019-05-07 11:52] katrinleinweber commented on #424
About what specifically? I guess we could try to draw our solution idea seperately (e.g. in Google Slides) and compare.

[2019-05-07 15:51] fmichonneau commented on #401
I updated the description as suggested. Does this look OK?

[2019-05-07 18:14] diyadas commented on #401
It looks great! Thank you.

[2019-05-07 18:14] #401 closed

[2019-05-13 14:32] katrinleinweber commented on #424
Duplicating an existing SVG and changing the labels in the source code works OK as well (4f5e8aa). However, I'm not sure whether any of https://github.com/swcarpentry/r-novice-inflammation/commit/90e50b65268225270c09411262a6ddc74c2f8156?short_path=5ab0efb#diff-ec99aa78325c779963845ff010274632 is similar enough to what we need here.

Which also makes me wonder why it was OK for the [previous releas

[2019-05-13 14:40] katrinleinweber commented on #427
4. is beyond me, and I don't find any hints via the blame views, nor through https://carpentries.topicbox.com/search:eon%20slice, nor in [python-novice-inflammation](https://github.com/swcarpentry/python-novice-inflammation/search?q=eon&unscoped_q=eon).

Currently I suggest to remove it: 072126e, but I'm also find with keeping it without a solution.

[2019-05-13 17:59] katrinleinweber opened #430 "Rephrase "slice" with "subset""
In #255 many such renamings and rephrasings were already made. However, [some instances of `slic`es are left](https://github.com/swcarpentry/r-novice-inflammation/blame/11c258c33e79dd43f78d0d16b5d95f45d91d97c6/_episodes_rmd/01-starting-with-data.Rmd#L377-L469) and these too, should be replaced with `subset`.

[2019-05-24 13:26] katrinleinweber commented on #427
Closed by f5c65fe653b52f995504103c0803c6ae53e485aa & 8fe49a959b17a161b1f67e48ccd56499fd803dd3.

[2019-05-24 13:26] #427 closed

[2019-05-24 13:41] katrinleinweber commented on #430
Sorry for grabbing this `good first issue` :-/ I needed something easy after the merge contortions of f5c65fe653b52f995504103c0803c6ae53e485aa & 8cdd15a5df94a0de02b2d9f9e64d856a73fe1743 :-D

[2019-05-24 17:38] diyadas commented on #415
Short of a single diagram (that wasn't included in past lesson releases), I think we've addressed everything! 🎉

There are a lot of issues tagged with the June lesson release milestone, but we classify them as enhancements. If they are resolved with PRs by then, they will be included. (I personally find it useful to keep some low-hanging fruit for newcomers.)

[2019-05-24 18:10] diyadas commented on #424
I'm closing this one for now -- we can revisit the diagram if it comes up. Thanks!

[2019-05-24 18:10] #424 closed

[2019-05-24 18:54] #430 closed

[2019-05-24 18:55] katrinleinweber commented on #415
Agreed :-)

[2019-05-24 18:56] katrinleinweber commented on #424
You're welcome :-)

[2019-05-27 07:11] #305 closed

[2019-06-02 19:01] engal commented on #374
I'm curious whether it's actually worth the time to make this point in the episode. I've found that some people familiar with other languages before learning R can find R code using automatic returns somewhat unintuitive. I think part of this is because functions without return statements can look like functions that are supposed to be modifying objects in place (which rarely happens in R, data.ta

[2019-06-06 11:44] sasutils opened #434 "CSV file photos are screen shots of Excel files instead of CSV files"
Seems like a great learning tool, but I am curious why do the photos of supposed CSV file outputs have photos of EXCEL spreadsheets instead of the actual CSV files?  CSV files are just plain text files.   Showing them as if they were EXCEL files will confuse novice programmers into thinking that they are spreadsheets. Plus if you open a CSV file in EXCEL then there is extremely large probability t

[2019-06-08 13:38] katrinleinweber commented on #434
Hello @sasutils & thanks for making these points :-)

I'm not sure why [the `csv...png` files in the `fig` folder](https://github.com/swcarpentry/r-novice-inflammation/tree/master/fig) are the way they are. I followed the [`git blame` trail a few steps into the past](https://github.com/swcarpentry/r-novice-inflammation/commit/f44bfdf25633e8411ba9cd3155a737071e28a725), but found no good explanation

[2019-06-11 23:16] ErinBecker commented on #415
Awesome work @swcarpentry/r-novice-inflammation-maintainers  and everyone else who contributed! This is just a quick message confirming that this lesson will be included in the release that @fmichonneau and I are preparing this week. The release is scheduled to go through on the 18th and to be announced to the community on the 24th. Please let us know if you have any questions! And congratulations

[2019-06-12 09:26] nelsonky commented on #392
Still on [Creating Functions](http://swcarpentry.github.io/r-novice-inflammation/02-func-R/), I think the first objective might be confusing to a novice from a non programming background. If one is told to define a function with such a background, it would imply to give the meaning of the word function and even the meaning may be different from what is expected herein. So I my view it is preferabl

[2019-06-13 09:05] katrinleinweber commented on #392
Yeah, good point! Please send a Pull Request by using the `Improve this page` link on top of the lesson page :-) I'd be happy to review it! I suggest to align the wording of  the "Objectives" to the "Questions" so we can drop the "Define".

[2019-06-13 09:45] nelsonky commented on #392
Thanks. Am still new though on this and would want to learn more as we
improve.

On Thu, 13 Jun 2019 at 12:06, Katrin Leinweber <notifications@github.com>
wrote:

--

Best Regards,
Nelson Kemboi Yego,
+254 723 695 775/ +250783124018

[2019-06-14 15:24] katrinleinweber commented on #392
Sure :-) I [reviewed your PR](https://help.github.com/en/articles/about-pull-request-reviews) https://github.com/swcarpentry/r-novice-inflammation/pull/435.

[2019-06-21 02:02] timotheenivalis opened #436 "Labels of code chunks (bash/R/output) in lesson 5, command line"
Hi everyone,

I got a bit confused by the labels of code/output chunks in
[lesson 5 http://swcarpentry.github.io/r-novice-inflammation/05-cmdline/index.html ](http://swcarpentry.github.io/r-novice-inflammation/05-cmdline/index.html).

For instance the first one is labelled "R" but is bash code; while the 4th one is labelled "output" while it is R code without any output (although not meant to be r

[2019-06-21 13:53] fmichonneau commented on #436
Hi Timothee, you're not super confused, it's definitely a bug. I have a fix on the way in the styles repository.

[2019-06-21 14:04] fmichonneau commented on #436
:wave: @swcarpentry/r-novice-gapminder-es-maintainers , @swcarpentry/r-novice-gapminder-maintainers, @swcarpentry/r-novice-inflammation-maintainers I fixed this issue in the styles repository, you may want to consider upgrading to the latest version of the template to have this fix in your respective repositories. I'm re-opening the issue as it still exists in this repository until a newer version

[2019-06-21 14:17] katrinleinweber commented on #436
To [`styles/master:6d015fe`](https://github.com/carpentries/styles/commits/6d015fe8f75ad7435a22aa8491dcfc66eed3ebb6), instead of any tag, correct? Would cherry-picking 6d015fe also be OK?

[2019-06-21 14:22] fmichonneau commented on #436
I _think_ that if you only cherry pick 6d015fe it will make a future upgrade more difficult. It's probably best to pull all commits up to 6d015fe.

[2019-07-01 16:03] fmichonneau commented on #415
lesson released! :tada: https://doi.org/10.5281/zenodo.3265218

[2019-07-01 16:03] #415 closed

[2019-07-01 18:03] katrinleinweber commented on #415
Huge thanks to @fmichonneau & @ErinBecker for organising this and to @diyadas for the awesome teamwork :-)

[2019-07-02 23:12] NikVetr opened #438 "Setup / Prerequisites Suggestions -- Remedial Links or Assessments?"
This is related to an issue raised and closed [here](https://github.com/swcarpentry/r-novice-inflammation/issues/258), but I didn't _quite_ find its resolution entirely satisfactory and so am opening this issue now. This all relates to the setup instructions [here](https://swcarpentry.github.io/r-novice-inflammation/setup.html) and the prerequisites box [here](https://swcarpentry.github.io/r-novic

[2019-07-03 06:53] katrinleinweber commented on #438
We could also include an `.Rproj` file in our download, so that people don't get into the habit of `setwd` manually.

I tend towards agreeing with your `download.file` suggestion, instead of doing it manually and checking it in the Unix shell. I'll be happy to review a PR that updates [/setup](https://github.com/swcarpentry/r-novice-inflammation/edit/master/setup.md) :-)

[2019-07-30 22:31] #436 closed

[2019-08-07 09:01] otienolwanga commented on #438
The idea of adding a SWC video link can be very helpful as many novices get stuck when installing the required software such as R Studio. Also as a prerequisite, the student can also be encouraged to play around with the graphical interface of R studio and familiarize themselves with the key icons and features.

[2019-08-11 16:03] diyadas commented on #438
Would be happy to review a PR on this issue!

[2019-08-12 16:43] fmichonneau opened #441 "episode 8: function name has changed, need rename create to create_package"
With the reorganization of the devtools package, the `create()` function has been renamed `create_package()`.

[2019-08-12 18:54] katrinleinweber commented on #441
Thanks for reporting :-)

[2019-08-23 14:39] #441 closed

[2019-09-02 13:57] katrinleinweber opened #447 "List this lesson on CRAN.R-project.org/other-docs.html"
https://cran.r-project.org/other-docs.html

- [ ] find out [how to contribute there](https://www.r-project.org/bugs.html)
- [ ] decide: list Zenodo release or GitHub page?
- [ ] send patch/email/etc.

[2019-09-03 06:19] #296 closed

[2019-09-17 22:40] MichaelBAnderson opened #448 "Link to Setup files in each Episode"
Dear Software Carpentry Community,

My name is Michael Anderson and I am posting this issue as part of the Instructor Checkout process.

While I have was reviewing the different lessons/episodes in preparation for the demonstration portion of the Checkout process, it took me a while to realize the required files were on the Schedule page for each lesson, via the Setup link.  While following a less

[2019-09-21 18:55] diyadas commented on #448
Hi Michael, welcome!

I understand that the location of the link to the setup page is difficult to find and I agree that it's confusing to have it in the schedule. I'd prefer to have it linked just once, but placed more prominently on the lesson homepage. However, the location of that link is actually determined by the lesson template, which applies to all lessons.

@rgaiacs any chance you could [

[2019-09-23 03:40] rgaiacs commented on #448
@fmichonneau Can you do the transfer that @diyadas requested? I don't have the permission.

[2019-09-23 15:55] MichaelBAnderson commented on #448
Thanks Diyadas!

[2019-09-24 15:37] fmichonneau commented on #448
unfortunately, the transfer issue feature doesn't work across GitHub organizations. I opened the issue manually here: https://github.com/carpentries/styles/issues/434 Thanks for the report @MichaelBAnderson

[2019-09-24 15:37] #448 closed

[2019-09-29 17:27] Ahmed7emdan opened #449 "Loops in R , RStudio"
Hi,
A.
I would say the illustration of Loops in R  brought us from the basic loop constructs used in programming to the fundamental idea behind vectorization. Therefore, I would just suggest due to time constrains
adding just simple example of the use of one of the apply() family of functions, which come up frequently in R.
Adding a line about mapply()  Multivariate version of lapply + split funct

[2019-10-01 14:52] katrinleinweber commented on #449
Hi Ahmed! Welcome to the Carpentries :-)

We have [1 `apply` example already, repeated a few times across the episodes](https://github.com/swcarpentry/r-novice-inflammation/search?l=RMarkdown&q=apply). What do you think about it?

Because [we already discussed](https://github.com/swcarpentry/r-novice-inflammation/issues/250#issuecomment-289682352) adding [`purrr::map()`](https://resources.rstudio.

[2019-10-06 10:37] dpshelio opened #451 "topic for the repository"
Please, consider adding a `lesson` topic to the repository. To do so you can [follow the help about how to add topics to the repository](https://help.github.com/en/articles/classifying-your-repository-with-topics). Check out the topics that the [Genomics R intro lesson](https://github.com/datacarpentry/genomics-r-intro) has gotten to add others that may be relevant to this lesson.

This will help

[2019-10-07 08:34] katrinleinweber commented on #451
Waiting for a decision in https://github.com/carpentries/lesson-infrastructure/issues/8

[2019-10-09 01:28] jacquelyneneal commented on #449
Hi! I was reading through this and am curious and a little confused - would all of the code using `mapply` be replaced with the `purrr` setup, or would you want to use both side by side? I didn't see a reference to `purrr` in the lesson, but I could have missed it.

I've used both in different situations - are there advantages to using one over the other beyond the nice feature of `purrr` fitting

[2019-10-09 10:54] katrinleinweber commented on #449
My vote is definitely for only one possibility. Not sure about the pros & cons, TBH.

Let's continue this discussion in https://github.com/swcarpentry/r-novice-inflammation/issues/250#issuecomment-289682352 only.

[2019-10-09 10:54] #449 closed

[2019-10-10 05:44] fmichonneau commented on #451
Adding GitHub Topics is not within the scope of the GitHub permissions for Maintainers. We are coordinating an effort to standardize GitHub Topics across all our repositories. We are seeking input and feedback from Maintainers on the list of proposed topics. Please see the Request For Comments (RFC) in this GitHub issue: https://github.com/carpentries/maintainer-RFCs/issues/5

[2019-10-10 05:44] #451 closed

[2019-10-15 18:47] michaelofrancis opened #452 "Setting directories with tab auto-complete"
Hi all,

In the first lesson ("Analyzing Patient Data"), when an absolute beginner is setting their working directory to load in csv files, it may be useful to let them know that they can use the tab key within the setwd("") quotes to see a list of possible directories. I imagine that getting some folks to type in their working directory correctly may be difficult in a live session and this could

[2019-10-18 16:38] michaelofrancis opened #453 "Code typo in "Testing and Documenting" section of (2) Creating Functions"
The function "center" in the Testing and Documenting section is written like this
[code]
The user is then asked to code the following:
[code]
There are two problems here. First, the output isn't including in the text, like it has been throughout the tutorial so far. But second, there is no output for this function, because neither a return() nor a variable is including in the conclusion of the fun

[2019-10-18 19:38] #453 closed

[2019-10-18 19:39] katrinleinweber commented on #453
My bad, sorry! Thanks for pointing this out :-)

[2019-10-21 14:26] michaelofrancis opened #454 "Two small typos"
Hi, I found two typos in the Data types and Structures section of Programming with R

![image](https://user-images.githubusercontent.com/51752343/67213776-9dfdd400-f3ec-11e9-81bc-668e8b9bd27f.png)

![image](https://user-images.githubusercontent.com/51752343/67214081-21b7c080-f3ed-11e9-9627-2f479baa68a4.png)

[2019-10-22 04:38] diyadas commented on #454
Thanks for catching these! If you or anyone else would like to file a PR to correct these, we’ll be happy to merge.

[2019-10-22 04:43] diyadas commented on #452
Thanks for the suggestion. I do have some concern about growing the size of this episode. Perhaps it’s possible to reference the Unix shell on tab completion (as it’s frequently taught before this lesson) and this keep the reference short?

Thoughts @katrinleinweber ?

[2019-10-22 06:22] katrinleinweber commented on #452
When I +1'ed the above, I assumed that we're talking only about 2 or 3 sentences, maybe scattered throughout 1 or 2 episodes to nudge learners towards the `tab`. A reference to https://swcarpentry.github.io/shell-novice/02-filedir/index.html#nelles-pipeline-organizing-files is a good idea in any case :-)

[2019-10-22 06:36] diyadas commented on #452
Cool! If anybody wants to submit a PR, happy to review.

[2019-10-22 15:18] katrinleinweber commented on #454
@michaelofrancis: if you want to try, use the "Improve this page" link on top of each episode page ;-)

[2019-10-28 18:39] MichaelBAnderson opened #455 "Command Line Programs"
Dear Carpentries,

As I was preparing for my demonstration, I ran into an issue with episode 5: Command Line Programs.

Previous to this episode everything was straight-forward but, at-least for me, this lesson required some initial clarification for setup and use:

**1**.  The lesson instructs the students to create an R script with a notepad editor (Notepad) and save the file as <session_info.R>

[2019-10-29 11:54] HaoZeke commented on #455
Thanks for the great catch and for detailing your experience. Would you like to go forward with improving the docs via a pull-request?

[2019-10-29 12:11] MichaelBAnderson commented on #455
Sure.  I have my demo on the 31st, so I will do it shortly afterwards.  Thanks!
________________________________
From: Rohit Goswami <notifications@github.com>
Sent: Tuesday, October 29, 2019 6:54:31 AM
To: swcarpentry/r-novice-inflammation <r-novice-inflammation@noreply.github.com>
Cc: Anderson, Michael <michael.b.anderson@okstate.edu>; Author <author@noreply.github.com>
Subject: Re: [swcarpentry

[2019-10-29 20:39] MichaelBAnderson opened #456 "Episode 4 and 5: Function Error"
Dear All,

I believe I found an issue.  At the end of Episode 4 and in Episode 5 we are instructed on two important functions: "analyze" and "analyze_all"

The **analyze** function opens a file based on the filename and plots the mean, max and min for the columns, and works as expected.  The **analyze_all** function is not working (at-least for me):

`analyze_all <- function(folder = "data", patte

[2019-11-03 20:51] #454 closed

[2019-11-05 16:05] lauzikaite commented on #343
The suggested link [](https://onboarding.ropensci.org/packaging_guide.html) is no longer valid.

@katrinleinweber, did you mean the rOpenSci book that is now live at [](https://devguide.ropensci.org/)? If so, I can submit a PR shortly.

[2019-11-06 11:58] katrinleinweber commented on #343
It's probably https://devguide.ropensci.org/building.html now, at least when compared to https://web.archive.org/web/20171222124034/http://onboarding.ropensci.org/packaging_guide.html

[2019-11-11 19:14] MichaelBAnderson commented on #456
I am new to doing the pull requests and have just completed my first (about the command line program location for saving/storing scripts).  I am waiting to begin a pull request here to see how the first request is resolved.  If it is possible I would also like to know if anyone else had a problem with the analyze_all function.  I had to change (pattern = pattern) to (pattern - inflammation.*csv) f

[2019-12-02 17:29] ereverman opened #461 "Phrasing suggestion for 01-starting-with-data.Rmd"
Hello,

I would suggest slightly rephrasing the explanation at line 358 of 01-starting-with-data.Rmd from "... when analyzing data we often want to look at partial statistics..." Reading on, it seems clear this means that the goal is to subset the data and calculate statistics for parts of the dataset, but this could be more obvious with something like "when analyzing data we often want to calcula

[2019-12-11 16:32] hw85241 opened #462 "Understanding Factors- Clarifiation"
This suggestion is for the Understanding Factors episode.  For people who have a statistics background taking this lesson, they probably know that factors can be categorical or continuous.  In R, though, factors are considered strictly categorical and what would be continuous is considered a variable.  I think it would be good to point these facts out a little more specifically by adding a line in

[2019-12-15 13:49] HaoZeke commented on #462
Thanks for the detailed issue description. This sounds like a great addition, would you be willing to open a pull request for this? It would make for a great first contribution. If you need help I'd be happy to assist.

[2019-12-16 17:45] LUS24 opened #463 "File commadec.txt missing from r-novice-inflammation-data.zip"
Hi, I couldn't find the file **commadec.txt** in the zipped folder so I [created an alternative](https://drive.google.com/file/d/1uaWa-lbKsRLwqHW7DsctLCmAxwqAir7l/view) derived from the file **sample.csv** where I replaced all "," with ";" and then all decimal points with ",".

Hope it helps
Cheers
Leo

[2020-01-06 21:23] boshek commented on #447
I am looking for a contribution to complete my carpentry instructor training. I'd like to offer to take this on if that seems suitable.

[2020-01-09 11:01] HaoZeke commented on #447
Sure, @boshek thanks a lot! When you've gotten it listed perhaps you could open a PR for adding the link to the readme as well? Something like "Listed on CRAN". This way it'd be easier to track your contribution on this repository.

[2020-01-09 17:29] boshek commented on #447
Sounds good but just a clarification - you want me to add a link to here: https://cran.r-project.org/other-docs.html on the README for this repo? Wouldn't that create a sort feedback loop as the link in the README would take to you to a place which links back to repo?

[2020-01-10 00:24] HaoZeke commented on #447
That's true, but the idea is to point out that this lesson is listed on cran. Actually it's a bit artificial, so it's OK either way.

[2020-01-10 20:58] HaoZeke commented on #447
Oops. Good catch! I'll close this now, thanks :)
Looking forward to working with you on another issue for the checkout process @boshek!

[2020-01-10 20:58] #447 closed

[2020-01-10 21:03] boshek commented on #447
@HaoZeke I'd re-open actually. I volunteered the maintain the list so if that offer is accepted it make again become a living entity.

[2020-02-06 10:29] #452 closed

[2020-02-11 03:53] kekoziar opened #466 "Episode 1: "Printing with Parentheses""
If we're modeling proper data management and reproducible science, the example in "Printing with Parentheses"  `(total_weight <- weight_kg + weight_lb)` should have one of the variables changed so the units are the same.  perhaps `(total_weight <- weight_kg*2.2 + weight_lb)`

[2020-02-12 10:37] HaoZeke commented on #466
Excellent point. Thanks! Would you be willing to open a PR resolving this?

[2020-02-12 15:43] kekoziar commented on #466
Yes, @HaoZeke.  Thanks!

[2020-02-12 16:03] EastBayEv commented on #466
Awesome trick!

[2020-02-12 16:06] EastBayEv commented on #462
In a similar vein, could "binning" also be a handy way to turn ranges of continuous variables into factors? The `cut` function is very helpful here. See ?cut to learn more.

[2020-02-12 16:09] EastBayEv commented on #387
This is a great point! While the "Import Dataset" button is handy, I cannot find a way to pass a vector of na.strings into that field when using the "Import Dataset" button (only single values), thus making the hard-coding of `read.csv` even more valuable.

Does anybody know if you can indeed pass a vector of na.strings into that field whilst using the "Import Dataset" button?

[2020-02-12 19:24] HaoZeke commented on #466
I'll be closing this now, thanks again!!

[2020-02-12 19:24] #466 closed

[2020-02-29 15:43] yuanxiesa opened #468 "A better way to begin Lesson 3"
Hi, I suggest removing the example of the "analyze" function at the very beginning. The reason is that I found the second example (function "print_words") is a more straight-forward and compelling example to demonstrate the limitation of hard-coding and the value of loops to the learners. I understand putting the "analyze" function at the beginning may show the continuity. But in practice, it is j

[2020-03-25 18:09] eshab5 opened #469 "Use of par(mfrow) and grid.arrange"
Hi,
I have a small suggestion for the lesson "programming with R". While reviewing the first episode "Analysis of patient data" it was great to see how learners can produce plots for three different things- namely average_day_inflammation, max_day_inflammation, and min_day_inflammation.
I feel here, we can additionally show them how it is also possible to view the three plots together in a single

[2020-03-27 13:08] HaoZeke commented on #469
Hi. Thanks for the suggestion!

Would you consider it a good idea to put it in the lesson itself or have a separate lesson on graphing? The rationale behind the latter might be that over the course of a live workshop participants would want to play around with the graphing a lot more.

[2020-03-27 13:11] HaoZeke commented on #468
Hi. Thanks for the suggestion. Do you think reworking the analyze function to use `mfrow` to make the example shorter might help? The idea is to have a motivating example, but it is true that the current form is visually noisy.

In an actual workshop the instructors would probably gloss over the analyze function itself at this stage.

[2020-03-27 15:11] eshab5 commented on #469
Hi,
Yes, I think the latter sounds good (having as a separate chapter altogether).

[2020-03-29 15:55] HaoZeke commented on #469
Thanks, @eshab5. I will bring it up with the course development team. Perhaps @diyadas might chime in here as well.

[2020-04-10 03:56] maria-pro commented on #468
HaoZeke,

I believe it is not the use of the function itself but rather the task itself and moreover the question it is linked to - the wording does not play nicely with the previous lesson, #2

The notion of "function" is already introduced, so why not use it?

A possible change can be:

Some sort of introductory sentence is also needed there at the start:

[2020-04-10 18:51] HaoZeke commented on #468
Thank you for the clarifications! I think your changes make a lot of sense, would you be willing to put them in a PR?

[2020-04-20 16:26] sarahbonnin opened #470 "addressing data by row names too in 10. Addressing data"
Hello,

In the supplementary section "10. addressing data", I would like to suggest a small change.

At the very beginning, it is written:
"
There are three main ways for addressing data inside R objects.
    By index (subsetting)
    By logical vector
    By name (columns only)
"

The "By name (columns only)" gives the impression that data can't be accessed by row names, which isn't true (even th

[2020-04-24 17:27] HaoZeke commented on #470
Hi Sarah, thanks for this suggestion. Would you like to open a PR for this? I agree that this is probably a good idea to mention.

[2020-04-27 07:48] sarahbonnin commented on #470
Hello,
Sure, I will do this!

[2020-05-02 23:44] HaoZeke commented on #470
Thanks so much for the follow up, and the excellent PR. ^_^

[2020-05-02 23:44] #470 closed

[2020-05-04 23:57] umnik20 opened #472 "Typo in Episode 11, 'Reading and Writing CSV Files'"
Dear Community,

There is a typo in the section titled "The StringsAsFactors argument" after the second block of code that demonstrates the use of the str() function. Right after the code boxes is written "We can see that the $Color and $State columns are factors and $Speed is a numeric column", but the box shows that the $Color column is a vector of strings.

Regards,

Rodolfo

[2020-05-05 01:24] HaoZeke commented on #472
Hi Rodolfo,
Great catch! Would you like to open a PR for this?

[2020-05-20 08:31] eigensong opened #474 "Fluid Representations in Addressing Data"
Dear Carpentries Community,

In my instructor training I learnt about "fluid representations" where multiple words for the same concept can confuse learners. I noticed that in the [Addressing Data](http://swcarpentry.github.io/r-novice-inflammation/10-supp-addressing-data/index.html) most of the lesson is really careful to avoid fluid representations, by consistently using the word addressing to d

[2020-05-20 11:17] HaoZeke commented on #474
Hi Elena,

That's a really great point regarding the text consistency. I think as long as we drop the term Logical Indexing in the main text we should be good to go with replacing the heading. Would you be willing to open a pull request with this change?

Thanks a ton,
Rohit

[2020-05-21 00:11] eigensong commented on #474
Hi Rohit,

Thanks for your feedback. I'm happy to try open a pull request with this change, but I'm still learning how to use git, so it might take me a little while to work my way through the instructions.

Cheers,

Elena

[2020-05-21 14:12] HaoZeke commented on #474
Hi Elena,

Thanks for the follow up! Please take all the time you need, and thanks again.

---
Rohit

[2020-05-27 22:35] eigensong commented on #474
Hi Rohit,

I've opened this pull request https://github.com/eigensong/r-novice-inflammation/pull/1 . Should I have somehow linked it to this open issue?

Cheers,

Elena

[2020-05-27 22:42] HaoZeke commented on #474
Hi Elena,
Thanks for the PR! It links back to this issue so I can assign it to be closed once we merge the PR in :)
---
Rohit

[2020-06-02 12:50] strajanoski commented on #472
Dear Hao,

I tested the R code and the output looks correct, you see numbers for all other colors instead their names, as it is described in the text beneath. I went one step further as follows:
I made new fork, cloned the repository, made new branch and crated local html pages with make serve at the end. The local copy has also correct output, suggesting that there is no need of doing changes in

[2020-06-02 15:06] strajanoski opened #477 "Running "make serve" to create local html lessons"
Dear community,

as I was working on Issue #472 in the testing procedure I wanted to create html lessons out of the rmd files to check the output. I managed to setup everything (fork, clone, new branch, new ruby version, jeckyll etc.), but I get error message with jekyll serve (last step in the process) throwing following error message:
jekyll serve
Traceback (most recent call last):
	4: from /Use

[2020-06-02 16:12] zkamvar commented on #477
Hi @strajanoski, if you have docker installed on your machine, you might want to give our docker container for lessons a try: https://github.com/carpentries/lesson-docker/#readme

[2020-06-03 04:58] EPLeyne opened #478 "Output incorrect to description"
http://swcarpentry.github.io/r-novice-inflammation/11-supp-read-write-csv/index.html

The 'stringsAsFactors' (from line 75) section of this episode does not appear as described. The first assignment runs and returns a list of all the car colours. However the descriptions says that it is "Blue", "Green" and '1','2'....
<img width="952" alt="Untitled (2)" src="https://user-images.githubusercontent.c

[2020-06-03 05:47] strajanoski commented on #478
Dear EPleyne,

thanks for reporting this discrepancy. Can you please check issue #472 as it reports the same problem.

Regards,
Slave

[2020-06-03 06:09] EPLeyne commented on #478
Thanks for identifying the link Slave.

I note that the initial comment in that issue was made a month ago, and that neither the reporter nor the first replyer noted the problem with the colours not being listed as factors. So I wonder if they didn't notice it or this is a new issue.

As per your reply in that issue, if you think it is a HTML issue then it is way above my head, but I'll keep looki

[2020-06-05 07:13] eigensong commented on #474
Hi Rohit,

I tried another pull request. It's linked above. Let me know if I need to do anything else.

Cheers,

Elena

[2020-06-10 02:38] HaoZeke commented on #474
Thanks @eigensong!

[2020-06-10 02:38] #474 closed

[2020-06-23 21:40] mam737 opened #479 "Missing File in 'Programming with R: Analyzing Patient Data'"
While looking at the Programming with R: Analyzing Patient Data module [here](http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html), I noticed that the 'Reading Different Decimal Point Formats' uses the file 'commadec.txt'. However, this file is missing from the data folder housed in r-novice-inflammation-data.zip. I downloaded the zip file from this [page](http://sw

[2020-06-26 20:55] zacharyrmiller commented on #479
This issue was noted earlier (#463 [here](https://github.com/swcarpentry/r-novice-inflammation/issues/463)), but apparently never resolved. I have submitted a [pull request](https://github.com/swcarpentry/r-novice-inflammation/pull/480) updating the .zip to include the missing file.

[2020-06-26 20:56] zacharyrmiller commented on #463
Thanks for creating this alternative file! It seems that it was never added to the zip file, however. I have submitted a [pull request ](https://github.com/swcarpentry/r-novice-inflammation/pull/480)updating the zip to include the missing file.

[2020-06-29 22:18] taddallas opened #481 "Style guide, tiny fix, and error handling in function writing"
Analyzing patient data::Variable Naming Conventions: mention the Google R style guide here in terms of variable and function naming? https://google.github.io/styleguide/Rguide.html

Creating Functions::Create a Function work problem: `edges` function has odd syntax in indent from first line to second. This is an incredibly tiny fix. Related to introducing functions, is it worth discussing error ha

[2020-06-30 19:37] Kayla-Morrell commented on #472
Hello,

It seems the text in this part of the lesson will be dependent on what version of R the user is using. As of R-4.0 the default value of `stringsAsFactors()` changed from being `TRUE` to being `FALSE` (a pretty big change!). So if the user is running an older version of R (<4.0) they will get what the text describes, 'Blue' being replaced with 'Green' and the other colors turning into a num

[2020-07-10 13:23] HaoZeke commented on #463
Closing thanks to the PR from @zacharyrmiller ^_^

[2020-07-10 13:23] #463 closed

[2020-07-10 13:23] HaoZeke commented on #479
Closed thanks to https://github.com/swcarpentry/r-novice-inflammation/pull/480 by @zacharyrmiller. Thanks for noticing this @mam737.

[2020-07-10 13:23] #479 closed

[2020-07-10 13:28] HaoZeke commented on #481
Hi @taddallas, sorry for the long silence! With regards to style guides, I prefer the original [tidyverse one](https://style.tidyverse.org/) but maybe a PR with links to both would be a good idea.

I think a tasteful introduction to error handling in the text would be a great idea, since in practice many new learners do often end up with errors.

It'd be great to have these in a PR (or series of P

[2020-07-10 13:31] HaoZeke commented on #472
Hi all!

We are working on how to deal with migrations (and how explicitly we should mention this on our lessons) so I'll put a hold on this for now. I believe the eventual goal is to maybe modify the output to reflect which R version is used, and then put an info bubble with the relevant information (as summarised by @Kayla-Morrell).

Best,
Rohit Goswami

[2020-07-10 16:32] taddallas commented on #481
Hi @HaoZeke, no worries about the silence. You're right that the difference is minimal, and the tidyverse style guide link you provided makes it seem like there is lots of overlap, and maybe even some feedback and convergence between the Google style guide and the tidyverse style guide.

I'll try to push along a short introduction to error handling in the assignment shortly and will submit a PR so

[2020-07-10 18:03] taddallas commented on #295
I believe this issue can be closed.

[2020-07-10 18:03] taddallas commented on #311
I believe this issue can be closed.

[2020-07-10 18:12] taddallas commented on #393
Issue is a bit stale and perhaps is ready to be closed? It will also become a non-issue in R 4.0+, as the shift towards stringsAsFactors=FALSE default will be incorporated by then (hopefully). https://developer.r-project.org/Blog/public/2020/02/16/stringsasfactors/index.html

[2020-07-10 18:34] taddallas commented on #423
PR merged, I believe this may be complete and can be closed?

[2020-07-12 00:23] HaoZeke commented on #423
Yup, good call, thanks @taddallas, @captainalan and @katrinleinweber!

[2020-07-12 00:23] #423 closed

[2020-07-12 00:24] #311 closed

[2020-07-12 00:27] HaoZeke commented on #393
Yup, this is part of the discussion on migration, and shouldn't be an issue at the moment. Closing for now. Thanks @taddallas @diyadas and @katrinleinweber !

[2020-07-12 00:27] #393 closed

[2020-07-12 00:27] HaoZeke commented on #295
Thanks @taddallas.

[2020-07-12 00:27] #295 closed

[2020-07-18 18:18] taddallas commented on #481
Realized a bit late, but functions are introduced before conditionals in the current setup, so error handling is a bit tough to introduce here (as handling errors is much easier to discuss after learning `if` statements). Submitted a PR with my edits, which simply introduce error handling as an important concept.

[2020-07-27 16:01] taddallas commented on #481
Closed for now. Can be reopened if the flow of the lesson changes to introduce conditionals before function writing, as this flow would better address error handling alongside of function writing.

[2020-07-27 16:01] #481 closed

[2020-07-27 17:04] zkamvar opened #483 "RFC: Migration to R 4.0"
During the June Maintainer meeting, we asked for comments and experiences with the migration to R 4.0 so that we could create guidance for maintainers and instructors. We have drafted a short blog post (https://github.com/carpentries/carpentries.org/pull/830) to be released next week (2020-08-03) that describes our recommendations for migration. You can find a [preview of the blog post here](https

[2020-07-29 21:57] ndporter opened #484 "Fix platform-specific setup instructions"
The [setup instructions](http://swcarpentry.github.io/r-novice-inflammation/setup.html) include the following line:

Double-click to unzip is default behavior on Mac but not Windows ([official Windows directions](https://support.microsoft.com/en-ae/help/4028088/windows-zip-and-unzip-files)). I assume there's some variability on Linux. Directions should not be platform-specific for lessons designed

[2020-08-05 02:21] HaoZeke commented on #484
Excellent catch! Could you open a PR with the minimal instruction set? I'm reasonably certain handling three platforms for unzipping in this lesson is a bit overkill. Thanks and sorry for my late response

[2020-08-30 11:26] Ammar-K opened #485 "Multi lines commenting"
Hi,
In "Introduction to RStudio" <r-novice-inflammation/_episodes_rmd/09-supp-intro-rstudio.Rmd>
it might be helpful to add the shortcut for multiple lines comment/uncomment (Ctrl+Shift+c) under "#Commenting" section, I find it very helpful and wished I know it before.

[2020-09-08 16:35] karenword opened #486 "Diagrams to describe functions"
The following was submitted by email as a contribution for checkout:

"As part of my checkout process, I would like to make a contribution to [Programming with R - Creating Functions](http://swcarpentry.github.io/r-novice-inflammation/03-loops-R/index.html), by adding a diagram to describe functions (svg and png files are attached). For the novice, even after seeing how a function works, it can be

[2020-09-10 21:23] C-CAB commented on #486
I think this is a good idea to include in the the lesson plan or as some form of supplementary material. Having a static image that connects terms to examples helps explain the definitions and can provide a great reference for people to come back to. I think this would be a good idea to expand upon with other terms early on in lessons.

[2020-09-11 01:12] C-CAB opened #487 "Using the RStudio Terminal- Lesson 5: Command Line Programs"
[Lesson 5: Command Line Programs](http://swcarpentry.github.io/r-novice-inflammation/05-cmdline/index.html)

Given the current structure of the Programming with R lessons, I wonder if it makes sense to detail out whether students should have a separate terminal running for using the command line or if they can use the terminal integrated within Rstudio. If this is a student's first time with any k

[2020-09-11 07:57] tobyhodges commented on #487
Perhaps a callout box mentioning both options, linking to [a suitable resource for them to learn more about working in the shell](http://swcarpentry.github.io/shell-novice/) and [instructions to access a terminal on their system](http://swcarpentry.github.io/shell-novice/setup.html), with the recommendation that they use RStudio's builtin terminal interface if this is their first time? It would al

[2020-11-02 22:49] lakikowolfe commented on #343
Hey! I was just going through issues to find one to work on as a part of my instructor training. I believe this issue has been resolved in #459 and should be marked as closed.

[2020-11-19 01:18] EvaZinkovsky opened #493 "incorrect output in Reading and Writing CSV Files from r-novice-inflammation"
**carSpeeds <- read.csv(file = 'data/car-speeds.csv')

carSpeeds$Color <- ifelse(carSpeeds$Color == 'Blue', 'Green', carSpeeds$Color)
carSpeeds$Color**

output is currently
  [1] "Green" " Red"  "Green" "White" "Red"   "Green" "Green" "Black" "White"
 [10] "Red"   "Red"   "White" "Green" "Green" "Black" "Red"   "Green" "Green"
 [19] "White" "Green" "Green" "Green" "Red"   "Green" "Red"   "Red"   "

[2020-12-01 23:08] PaulMelloy commented on #387
Hello, I have added a pull request to try and address this issue. #494
I thought the addition would be best suited in the "Reading and Writing CSV Files" episode. I attempted to make it a challenge question after the `stringsAsFactors` argument topic.
Let me know if you think there are better data sets than the two I used as an example and I could edit it.

[2020-12-14 20:41] reblake opened #495 "`c` function means concatenate, not combine"
I'm currently teaching this SWC R lesson, and I noticed an incorrect definition of the `c` function in the [01-starting-with-data section](http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html).    It says the `c` function means "combine", but it actually means "concatenate".   Correcting this definition will improve clarity for learners.

[2020-12-23 22:26] Jariati commented on #495
I learnt from some R resources. I think 'c' function can be both, concatenate or combine. There is an explanation: if factor concatenation by c() should give a factor. It means, when user use c() function, they combine some details. In other words, I don't think by replacing combine with concatenate will provide significant changes in clarity.

[2020-12-29 01:12] HaoZeke commented on #495
We would like to stick to the standard definition from `?c`:
![image](https://user-images.githubusercontent.com/4336207/103251983-f3c7f780-4972-11eb-9804-5199bd9f09f7.png)

[2020-12-29 01:14] HaoZeke commented on #493
Hi @EvaZinkovsky, thanks for this, could you also let us know the output of `sessionInfo()`?

[2020-12-29 01:15] #343 closed

[2020-12-29 01:15] HaoZeke commented on #343
Thanks @lakikowolfe !

[2020-12-29 01:18] HaoZeke commented on #486
This is fantastic, I've been using Jamboard to draw precisely this. It'd be great to have a PR for this change.

[2020-12-29 01:19] HaoZeke commented on #485
Sounds great, would you like to submit a PR for the same?

[2020-12-29 01:21] HaoZeke commented on #487
It is my experience that shell novices don't associate any of the R lesson content with the standard terminal, and so this might be more confusing than helpful. A callout sounds like good idea, and this is an important discussion!

[2020-12-30 09:06] Ammar-K commented on #485
Done 👍

[2021-01-04 13:39] reblake commented on #495
@HaoZeke, the definition of the function is not the name of the function.  The _name_ of the function is  "concatenate" ("c" for short), while the _definition_ of the function is what it does ("combine values...").
See the comments here: https://stackoverflow.com/questions/11488820/why-use-c-to-define-vector
Also, see the R manual section 2.1: https://cran.r-project.org/doc/manuals/r-release/R-int

[2021-01-04 21:53] HaoZeke commented on #495
@reblake my apologies. For posterity I'm also putting the relevant section of the manual (linked)

![image](https://user-images.githubusercontent.com/4336207/103582701-4dca3f00-4ed6-11eb-9f30-83bb7f06af6f.png)

However, it seems to still be a little contested, not an authoritative reference at all but [R For Dummies](https://www.dummies.com/programming/r/how-to-combine-vectors-in-r/) feels happy t

[2021-01-12 02:38] habpippin commented on #493
Hello,
This issue is a result of the migration to R version 4.0, where `default.stringsAsFactors() = FALSE` rather than `TRUE`, hence the output showing up as the character strings rather than the factor levels. I believe issue #483 references some other issues/experiences with the migration to R 4.0.

[2021-01-25 16:41] #387 closed

[2021-02-02 04:18] CodeRThane commented on #250
I've only been coding for about 6 months now, but here are my 2 cents:
I think for loops (or the apply/map functions) should be taught early in R. My first R project after that involved working with over 100 CSV files. From the data carpentry lesson I had taken, I knew how to work with one CSV at a time, but I had to spend a lot of time on the internet to figure out how to use the apply function b

[2021-02-02 09:38] HaoZeke commented on #250
The argument made by @dmi3kno makes sense to me as well. @CodeRThane, the idiomatic `R` method is to use `purrr::map()` or `apply` instead of `for` loops as you noticed. I'd be happy to see some concrete PRs for this issue.

[2021-02-02 18:50] AdrianaLeCompte commented on #420
Hi all,

I think your above suggestions are very helpful. Something I've found helped me conceptually once I started learning R was understanding the concept of "what is real" within R.

The book R for Data Science (https://r4ds.had.co.nz/workflow-projects.html) explains how you can recreate your environment with your scripts, but it's much harder to create your scripts from your environment. This

[2021-03-27 05:50] bkmgit commented on #284
May be better to indicate dependencies between sections to allow instructors some choice in what to discuss.

[2021-03-27 05:53] bkmgit opened #506 "Show how to upload knitr html to GitHub pages"
The HTML generated by knitr  http://swcarpentry.github.io/r-novice-inflammation/07-knitr-R/index.html
can be uploaded to GitHub pages. Supplementary instructions adding this would be helpful.

[2021-03-27 09:46] bkmgit opened #507 "Software testing"
Consider enhancing the testing information in http://swcarpentry.github.io/r-novice-inflammation/02-func-R/index.html using for example
- testhat https://testthat.r-lib.org/
- RUnit https://cran.r-project.org/web/packages/RUnit/
Currently, the allequal test is poorly motivated.

[2021-03-27 14:38] HaoZeke commented on #507
I'd be happy to see a PR about this, I think its a great idea.

[2021-03-27 18:05] HaoZeke commented on #506
I'm not really sure this would be in keeping with the current lesson layout. It seems like adding a discussion on GH Pages will take a bit more context w.r.t. static sites and infrastructure. We prefer to not tie the content to a particular provider so it'd need to included Bitbucket / gitlab / zeit / netlify as well.

Perhaps this should be in a supplementary lesson.

[2021-03-27 18:07] HaoZeke commented on #284
My understanding is that the lessons are kept in one location here; and the instructors choose the right set of lessons and link to them from the workshop page. We could perhaps add more information on the for instructors portion, but I'm not sure I see this as an issue.

[2021-04-05 17:12] Talishask opened #508 "Lesson Contribution: Data Types and Structures and Understanding Factors"
I'm a member of The Carpentries staff and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

----

As part of my checkout process, I would like to make contributions to Programming in R. I made some suggestions about the narratives, wording, and examples in two lessons: Da

[2021-04-08 02:50] HaoZeke commented on #508
Hi @Talishask, these changes look great to me. Congratulations on completing the instructor training! Would you be willing to open a PR with these changes?

[2021-04-09 20:15] LoraArmstrong commented on #372
Hi there, I had a go at updating the alt text for the R package directory image, submitted in the PR above. I looked through the entire lesson and felt that this image was the only one that was not adequately described in the main text of the lesson, so this is the only alt text I updated.

[2021-04-13 08:46] Bisaloo opened #511 "Add a section about NA values in tests"
In the [Making Choices](https://swcarpentry.github.io/r-novice-inflammation/04-cond/index.html), I think it would be extremely valuable to add a section / a note / a box about how to test for the presence of `NA`s with `is.na()`:

- It is a very common source of confusion and errors for beginners and the error message is not easy to understand:

[code]

<sup>Created on 2021-04-13 by the [reprex pa

[2021-04-13 22:35] Alanocallaghan opened #512 "setwd in beginning of lesson is bad practice"
Running setwd in the beginning of an R session is horrible practice, but it's currently part of the [first lesson](http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html).

This should be changed, if for no other reason than for fear of having [Jenny Bryan come and set learners' computers on fire](https://www.tidyverse.org/blog/2017/12/workflow-vs-script/).

Also this

[2021-04-14 15:22] HaoZeke commented on #512
I think these are all great! Would love to see a PR with these. Thanks :)

[2021-04-14 15:24] HaoZeke commented on #511
I'd love to see this as a PR! Its something I end up describing in most cases as well. I'm personally against using `NULL` in scripts (anything which isn't a package) because its semantics are different from what learners expect, but removing it should be a different issue.

In any case, the `NA` note would be fantastic.

[2021-04-14 15:28] HaoZeke opened #513 "Lesson Contribution: Section on Reprex"
- Comes with the `tidyverse`
- Helps learners get help
- Win win!
[code]

<sup>Created on 2021-04-14 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-04-19 00:25] #511 closed

[2021-04-19 00:33] #372 closed

[2021-04-19 00:48] #364 closed

[2021-04-21 08:28] #512 closed

[2021-04-22 19:41] Talishask commented on #508
Hi @HaoZeke - I've reached out to the contributor and let them know. Thanks

[2021-04-22 22:34] MadeleineGastonguay opened #516 "Suggestions for episode 3"
In Analyzing Multiple Data Sets, several downsides of writing individual print statements are listed:

As I was preparing for the live demo, I kept making typos when writing each print statement, which  I think would be a great addition to the list of reasons to use a for loop. Making typos is a very relatable downside, and I think it would help drive home why for loops are useful.

In addition, t

[2021-04-27 16:10] HaoZeke commented on #516
Hi @MadeleineGastonguay, thanks so much for taking time to bring this up! I think your suggestions are fantastic. Would you be willing to make a PR with the changes so we can discuss this further?

[2021-04-28 16:42] Bedxxe commented on #487
I agree with the callout option. Also, I think that the time stipulated in this episode is inaccurate. For students, it may take more than 30 minutes to abstract the information of the terminal and complete successfully the exercises. I deem that 30 minutes for teaching and 20 minutes for the exercises could be better. Moreover, I think it would be useful to talk about text editor options that can

[2021-05-17 16:46] Talishask opened #518 "Lesson Contribution for #8 Making Packages R"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---
There seems to be an inconsistency in the lesson concerning how to include functions in the package.

Under the section headed '.R files' we read:

'Functions don't all hav

[2021-05-19 19:55] worcjamessmith opened #519 "Exercise timing missing for analyzing patient data"
The first episode in the programming with R lesson (http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html) states that the time for exercises is 0 minutes. However, there are several exercises that I expect would take about 10-15 minutes to complete. Should the exercise timing be updated?

[2021-05-20 23:54] HaoZeke commented on #519
Sure, that's a great catch, thanks for bringing it up! Would you be willing to open a PR for the same?

[2021-05-21 09:21] worcjamessmith commented on #519
Yes, do those timings seem reasonable to you? I.e. 10-15 mins. I haven't actually taught this episode so unsure how long it takes in real life.

[2021-05-28 16:30] HaoZeke commented on #519
Yup, I've personally never spent longer than ten minutes but 10-15 sounds perfect. :)

[2021-06-08 18:37] worcjamessmith commented on #519
I went to open a PR and noticed that exercise time is also missing from other episodes e.g. http://swcarpentry.github.io/r-novice-inflammation/02-func-R/index.html. It might be worth someone going through all the lessons to check, but I didn't yet have time.

Also, changing these will require updating the home page (http://swcarpentry.github.io/r-novice-inflammation/) to update the timings, but I

[2021-06-09 16:21] sraorao opened #521 "Typo (missing word?) in Analyzing Patient Data"
In the Loading Data section, http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html

Should that be _...the **data** and scripts..._?

[2021-07-05 16:06] ubdbra001 commented on #519
I noticed the same thing, It looks like every episode in the lesson has 0 mins for exercises.
Happy to open a pull request for all, just want to check the timings seem sensible:
1. _Analyzing patient data:_ 10-15 mins as @worcjamessmith suggests
2. _Creating functions:_ 10 mins
3. _Analyzing multiple data sets:_ 10 mins
4. _Making choices:_ 10-15 mins
5. _Command-line programs:_ 5 mins
6. _Best Pr

[2021-07-06 15:31] HaoZeke commented on #519
Hi @ubdbra001. Thanks for going over these, the timings look great. I can't recall at the moment if they are updated or not, we can deal with that in a separate PR. Please go ahead with the timings from lesson 2 onwards. @worcjamessmith It would be good to have a PR relating to the first lesson :)

[2021-07-06 19:49] ubdbra001 commented on #519
Great will do!

[2021-09-06 01:58] wfpinzonp opened #525 "Lesson contribution 2. Creating Functions"
Dear SWC team

I found one small improvement that can be made to the Programming with R. Particularly in the second section "Creating Functions" (http://swcarpentry.github.io/r-novice-inflammation/02-func-R/index.html).

Very little introduction to the building of the function is given, I believe a general explanation and structure to the function can be provided right below the title **Defining a

[2021-09-06 07:13] HaoZeke commented on #525
Hi @wfpinzonp. Thanks for this! Would you be willing/able to open a PR (pull request) with this contribution? Let me know if you need help setting that up.

[2021-09-06 07:51] wfpinzonp commented on #525
Hi Rohit

Thank you for your email. I'd really appreciate if you can guide me through the process of opening a PR. I tried but got a bit confused.

Kind Regards

William Pinzon-Perez

Master of Applied Econometrics

The University of Queensland

Email: ***@***.***

Phone: 0431 628 820

________________________________
From: Rohit Goswami ***@***.***>
Sent: Monday, September 6, 2021 5:13 PM
To: swc

[2021-12-14 19:32] laureltree opened #527 "Add shortcuts for RStudio to "all" Intro to R episodes/lessons"
Kia ora,

I noticed that some of the "Intro to R" sessions provide (some) of the **shortcuts** that make working in RStudio so much faster, but not _all_ of them do this.

____

Mentions some shortcuts:

E.g. in https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html it says:

_In RStudio, typing Alt + - (push Alt at the same time as the - key) will write <- in a single keystroke in a PC, wh

[2022-01-20 00:08] annajiat opened #532 "No jumplinks for section headings"
@zkamvar
We need to update style for this lesson so that jump lists (anchors for different sections) becomes automatically available for different levels of headings.

[2022-01-25 12:50] iochatz opened #535 "Suggestion for making an R project when starting with the lecture material"
In the set up instructions (http://swcarpentry.github.io/r-novice-inflammation/setup.html), it is mentioned that the participants should download the zip file and create a folder in their desktop to store it. Then at the beginning of the course material (http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.htmlhttp://swcarpentry.github.io/r-novice-inflammation/01-starting

[2022-01-25 14:33] HaoZeke commented on #535
Thanks @iochatz, that sounds like a good suggestion, would you be willing to open a PR for the same?

[2022-01-25 14:34] HaoZeke commented on #527
Hi @laureltree, that would definitely be a good idea, would you be able to open a PR for the same?

[2022-01-28 01:02] navonacalarco opened #536 "Indicate that the create_package `parentDirectory` should not be an existing R project"
The [Making Packages](https://swcarpentry.github.io/r-novice-inflammation/08-making-packages-R/index.html]) episode references an abstract `parentDirectory`, in which one should create the package 'tempConvert'.

I think it would be helpful to explicitly indicate that this new `parentDirectory` ought not be nested within the `r-novice-inflammation` directory, previously created as an 'R project' i

[2022-03-19 04:24] dkangsim-ehg opened #538 "Suggestion: **Variable Naming Coventions**"
Hello:

**This contribution is for instructor training.**

Although the instruction states a typical conventions for naming variables (<http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html>), it would be great for _R newcomers_ to state that R is case sensitive, so a variable with `A` and `a` are different variables. I did not see this detail in the lesson.

Practici

[2022-04-01 12:48] hannesbecher opened #540 "use of && vs & -- instructor training contribution"
Hi there,

I noticed that in the episode "Making Choices" the operators `&&` and `||` are used while `&` and `|` are not introduced. I think in the examples given, these operators can be used interchangeably. Still, I wonder if it might be better to use the latter two.

The reason is that this lesson stresses vectorisation and the use of `&&` and `||` can lead to unexpected results when used on ve

[2022-06-09 06:01] nkandhari commented on #535
This issue has been resolved and the steps have been added in the index.html page (http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html)
It's safe to close this issue.

[2022-06-09 16:37] HaoZeke commented on #535
Thanks for the heads up @nkandhari :)

[2022-06-09 16:37] #535 closed

[2022-06-17 16:37] Talishask opened #543 "Lesson Contribution: two suggestions to enhance the content"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---

1. Include some brief information at the beginning of the course outlining the differences and advantages/disadvantages between common programming languages such as R, Pyt

[2022-06-17 16:40] Talishask opened #544 "Suggestion - Cheat Sheet"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.
---

My colleague’s Bash “cheat sheet” - https://www.pcwdld.com/bash-cheat-sheet
- it’s a quick reference to Bash that I think could be useful.

It’s not a cheat sheet in the tr

[2022-07-06 05:49] sndaba opened #545 "Suggestion - Print Statement after Data Frame Manipulation functions #545"
Hi

I noticed that the functions used in Data Frame Manipulation with Dplyr epidose [https://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html] does not have the _print () statement_ for the output of the dplyr functions.

May I suggest adding the print statement for every Dplyr function for learners to follow the differences every function creates.
For example,  the following function

[2022-07-12 06:52] smabdullah1 opened #550 "Adding inflammation dataset illustration on the homepage"
I would like to suggest adding a graphical illustration to explain the inflammation dataset, just like it is done for the Python course.

https://swcarpentry.github.io/python-novice-inflammation/fig/lesson-overview.svg

Thank you
Abdullah Shaikh

<summary><strong>Instructions</strong></summary>

Thanks for contributing! :heart:

If this contribution is for instructor training, please email the lin

[2022-07-22 11:00] matchey7 opened #551 "Analyzing Patient Data: line 371"
<details>

Line 371 - typing dat[,] gives only the first 25 rows with the message at the end:

 [ reached 'max' / getOption("max.print") -- omitted 35 rows ]

Not sure if this is do to with my setup or everyone doing the course would get this output?